*{outline:0 !important;max-height:1000000px;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}

body{width:100%; background:#fff;  -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
body,input,select,textarea,button {border:none;font-size:12px; font-family:'Noto Sans KR', sans-serif, 'NanumSquareRoundR';}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse; table-layout: fixed; }
img,fieldset{border:0;}
/*img {width:100%;}*/
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;cursor:pointer;}
button {cursor:pointer;}
/*form*/
/* Form */
textarea { border:1px solid #dbdbdb;}
select { height:32px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff;}

input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea { padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{background:#f5f5f5; border-color:#ddd; color:#888; -webkit-appearance:none;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea;border:1px solid #c0c0c0;}

.ml0 {margin-left:0 !important;}
.p_bt13 {padding:13px 0;}
.p_bt23 {padding:23px 0;}
.p_bt35 {padding:35px 0;}
.p_bt62 {padding:62px 0;}
.p_bt86 {padding:86px 0;}
.b_mobile {display:none;}
/*피씨 모바일*/
.mobile {display:none !important;}
.t_mobile {display:none;}

/*color*/
.red {color:#fd4722 !important;}
.l_gray {color:#666 !important;}

/*txt*/
.n_txt {display:inline-block;width:40px;height:20px;background:#fd4722;color:#fff;font-size:12px;font-weight:500;text-align:center;border-radius:10px;}
.n_txt.bl {background:#000;}
.list_txt {display:block;margin-top:10px;font-size:16px;font-weight:500; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;}
.tag_txt {display:block;padding-bottom:10px;font-size:14px;line-height: 14px;font-weight:500;color:#888;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;}


/*button*/

.more_btn {display:block;position:relative;width:107px;height:40px;padding:11px 23px;background:#f5f5f5;font-size:16px;color:#888;box-sizing: border-box;border-radius:20px;line-height:16px}
.more_btn:after {content:'';display:block;position:absolute;top:5px;right:7px;width:28px;height:28px;background:url(../../resource/images/contents/ico_right_circle.png) no-repeat;background-position:center;}
#container {margin:0 30px;}
.wrapper {position:relative;max-width:1460px;margin:30px auto 0;}
.top {position:fixed;bottom:50px;right:125px;width:72px;height:72px;background:url(../../resource/images/contents/ico_topbtn.png) no-repeat;background-position:center;z-index: 15;}
.top a {display:block;width:100%;height:100%;}
.m_logoutBtn {display:block;float:left;margin-left:12px;width:18px;height:19px;line-height:19px;background:url(../../resource/images/contents/ico_logout_m.png) no-repeat;background-position:center;background-size:contain;}
.logoutBtn {position:relative;}
.logoutBtn:after {content:'';display:block;position:absolute;top:0;right:24px;background:url(../../resource/images/contents/ico_logout.png) no-repeat;width:15px;height:16px;background-position:center;background-size:cover;}
.shareBtn {display:block;max-width:60px;width:100%;height:60px;border:1px solid #222;border-radius:10px;background:url(../../resource/images/contents/ico_share.png) no-repeat;background-position:center;background-size:20px;box-sizing: border-box;}
.saveBtn {display:block;max-width:60px;width:100%;height:60px;border:1px solid #ddd;border-radius:10px;background:url(../../resource/images/contents/ico_rabbit.png) no-repeat;background-position:center;background-size:20px;box-sizing: border-box;}
.saveBtn.on {background-image:url(../../resource/images/contents/ico_rabbit_orange.png)}
.downBtn {display:block;max-width:350px;min-width:144px;width:100%;height:60px;padding:15px 0;background:#f9b700;font-size:20px;color:#fff;border-radius:10px;box-sizing: border-box;font-weight:bold;text-align:center}
.sns_boxArea {position:absolute;left:-25px;display:none;top:70px;width:455px;height:78px;padding:20px 30px;background:#fff;border:1px solid #222;border-radius:10px;z-index: 10;box-sizing: border-box;-webkit-box-shadow: 0px 0px 50px -13px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 50px -13px rgba(0,0,0,0.75);box-shadow: 0px 0px 50px -13px rgba(0,0,0,0.75);}
.sns_boxArea.on {display:block;}
.snsBox:after {content:'';display:block;clear:both;}
.snsBox li {float:left;width:33.3333%;padding-left:50px;box-sizing: border-box;line-height:35px;}
.snsBox li a {display:block;position:relative;font-size:16px;color:#222;}
.snsBox li a:after {content:'';display:block;position:absolute;left:-50px;top:0;width:39px;height:39px;background:url(../../resource/images/contents/ico_sns_kakao.png) no-repeat;background-position:center;}

.sns_boxArea .sns_closeBtn {display:block;position:absolute;right:30px;top:50%;transform:translateY(-50%);background:url(../../resource/images/contents/ico_x_bl.png) no-repeat;background-position:center;width:15px;height:15px;}
.snsBox li .sns_kakao:after {content:'';display:block;}
.snsBox li .sns_facebook:after {background-image:url(../../resource/images/contents/ico_sns_facebook.png);}
.snsBox li .sns_twitter:after {background-image:url(../../resource/images/contents/ico_sns_twitter.png);}
.downBtn span {display:inline-block;position:relative;padding-left:20px;}
.downBtn span:after {content:'';display:block;position:absolute;left:-15px;top:50%;transform: translateY(-50%);width:26px;height:23px;background:url(../../resource/images/contents/ico_download.png) no-repeat;background-position:center;}
.btn_gray_w {display:block;width:100%;min-width:145px;height:60px;padding-left:20px;border:1px solid #ddd;border-radius:10px;font-size:18px;box-sizing: border-box;}
.btn_gray_w:focus {border:2px solid #222 }
.btn_gray_w.red {border:2px solid #fd4722 !important;color:#888 !important;}
input::placeholder {color: #888;font-size:16px;}
.btn_orange{display:block;width:100%;min-width:270px;height: 60px;background: #f9b700;font-size: 20px;color: #fff;border-radius: 10px;text-align:center;line-height:60px;font-weight:bold;text-align:center;}
.btn_orange_middle {display:inline-block;width:175px;color:#fff;height:60px;background:#f9b700;border-radius:10px;font-size:18px;padding: 18px 0;
    box-sizing: border-box;text-align:center;}
.btn_orange_short {display:block;max-width:94px;width:100%;min-width:88px;color:#fff;height:60px;background:#f9b700;border-radius:10px;font-size:18px;line-height: 60px;text-align: center;}
.btn_gray{display:block;width:100%;min-width:270px;height: 50px;background: #888;font-size: 20px;color: #fff;border-radius: 10px;text-align:center;line-height:50px;font-weight:bold;}
.btn_gray_middle {display:inline-block;width:175px;color:#fff;height:60px;background:#888;border-radius:10px;font-size:18px;padding: 18px 0;box-sizing: border-box;text-align:center;}
.btn_gray_short {display:block;max-width:94px;min-width:88px;width:100%;color:#fff;height:60px;background:#888;border-radius:10px;font-size:18px;line-height:60px;text-align:center;}
.btn_black_short {display:block;max-width:94px;min-width:88px;width:100%;color:#fff;height:60px;background:#222;border-radius:10px;font-size:18px;line-height:60px;text-align:center;}
.btn_black_middle {display:inline-block;width:175px;color:#fff;height:60px;background:#222;border-radius:10px;font-size:18px;padding: 18px 0;box-sizing: border-box;text-align:center;}
.btn_black_file {float:right;width:140px;height:50px;padding:13px 0;background:#222;color:#fff;font-size:16px;border-radius:10px;margin:15px 0;text-align:center;box-sizing: border-box;}

.disabled {background: #f5f5f5 !important;border: 1px solid #ddd!important;color: #888!important;cursor: auto !important;}
/*21.03.02 jhj 수정*/
.btn_bottom {text-align:center;margin-bottom:50px;}
.btn_bottom .btn_orange_middle {padding:15px 0;}
.btn_bottom a {font-size:20px;font-weight:bold;}
/*tab*/
.tab_list {margin-top:30px;border:1px solid #ddd;border-radius:10px;box-sizing:border-box;}
.tab_list:after {content:'';display:block;clear:both;width:100%;height:100%;}
.tab_list li {float:left;width:50%;height:45px;line-height:44px;text-align:center;}
.tab_list li .tab_btn {display:block;width:100%;height:100%;font-size:16px;font-weight:400;border-radius:10px;}
.tab_list li .tab_btn.on {height:47px;line-height:47px;background-color:#f9b700;color:#fff;box-sizing:border-box;margin-top:-1px;margin-left:-1px}
.tab_list li:last-child .tab_btn.on {margin-left:1px;}

/*검색*/
.search_box {position:relative;margin-top:20px;height:50px;}
.search_box label {position:absolute;top:16px;left:13px;color:#888;}
.search_box .search_txt {display:block;width:100%;height:50px;padding:18px 20px;background:#f5f5f5;box-sizing:border-box;font-size:16px;font-weight:400;color:#888;border-radius:10px;}
.search_box #img_search {position:absolute;top:13px;right:20px;cursor:pointer;background:none;}
.search_box #img_search .s_txt {display:block;width:22px;height:22px;background:url(../../resource/images/contents/ico_search.png) no-repeat;background-position:center;text-indent:-9999px;}

/*셀렉트*/
select{
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}
/* IE 기본 스타일 제거 */
select::-ms-expand{
	display: none; /* IE 10, 11 */
}
select {
    background: url(../../resource/images/contents/ico_arrow_down_g.png) 90% center no-repeat;background-size:11px 7px
}
.select01 {min-width: 150px;height: 50px;width: 100%;}
.select02 {padding-left:20px;box-sizing: border-box;background-position:95% center;}
.select03 {display: block; width:100%;min-width:330px;height:50px;padding-left:20px;border-radius:10px;font-size:16px;color:#222;box-sizing: border-box;background-position:95% center;}
.select04 {width:150px;height:50px;background:url(../../resource/images/contents/ico_arrow_down_bl.png) no-repeat;background-position:90% center;background-size:13px 8px;}
/* 체크박스 */
input[type="checkbox"] {position:absolute;left:-9999px;width:0;height:0;border:0;overflow:hidden;}
input[type="checkbox"] + label {display:inline-block;position:relative;vertical-align:top;cursor:pointer; padding-left: 26px;color: #000;line-height: 24px;font-size:16px;}
input[type="checkbox"] + label:before {content:"";position:absolute;left:0;top:0;width:26px;height:26px;background:#ddd  url(../images/contents/ico_checkbox.png) no-repeat;background-position: center;border-radius:4px;box-sizing:border-box;border:1px solid #ddd; }
input[type="checkbox"]:checked + label:before {width:26px;height:26px; background-image: url(../images/contents/ico_checkbox.png); background-color: #f9b700;border-color:#f9b700;}
input:focus::placeholder,textarea:focus::placeholder{color:transparent!important;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent !important; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color:transparent !important; } input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent !important; } input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color:transparent !important; }


/*페이지 네이션*/
.paging {max-width:780px;width:100%;margin:0 auto 50px;text-align: center;}
.paging a {display: inline-block;width:50px;height:50px;line-height:50px;}
.paging .current_page {display:inline-block;width:50px;height:50px;background:#f9b700;border-radius:100%;color:#fff;cursor:pointer;padding:15px 0;box-sizing: border-box;}
.notice_wrap .service_tblBox {margin-bottom:30px;}
.page_fisrt {text-indent:-9999px;background:url(../../resource/images/contents/ico_prev_left01.png) no-repeat;background-position:center;background-size:12px 10px;}
.page_prev {text-indent:-9999px;background:url(../../resource/images/contents/ico_prev_left02.png) no-repeat;background-position:center;background-size:6px 10px;}
.page_last {text-indent:-9999px;background:url(../../resource/images/contents/ico_next_right01.png) no-repeat;background-position:center;background-size:12px 10px;}
.page_next {text-indent:-9999px;background:url(../../resource/images/contents/ico_next_right02.png) no-repeat;background-position:center;background-size:6px 10px;}


/*21.03.02 jhj ìˆ˜ì • */
/*** Popup ***/
.modal {display:none;position:relative;max-width:500px;}
.modal.on {display:block;}
.modal_wrap {position:relative;border-radius:10px;box-shadow:1px 5px 15px 5px rgba(0,0,0,0.15);overflow:hidden;}
.modal_header {position:relative;min-height:80px;padding:28px 60px;box-sizing:border-box;border-bottom:1px solid #eee;background:#fff;}
.modal_header h2 {color:#222;font-size:24px;font-weight:bold;line-height:22px;text-align:center;}
.modal_body {position:relative;padding:35px 75px;background:#fff;box-sizing:border-box;text-align:center;}
.modal_wrap.ty02 .modal_body {width:850px;max-height:70vh;padding:0px 30px 30px 30px;overflow-y:auto;}
.modal_body.pw02 {width:533px;padding: 40px 60px 35px;}
.pop_cont .q_pick {text-align:center;margin-bottom:30px;font-size:16px;color:#222;letter-spacing: -0.35px;}
.btn_area:after {content:'';display:block;clear:both;}
.btn_area a {display: inline-block;max-width:120px;height:50px;font-size:16px;letter-spacing: -0.35px;font-weight:500;line-height:50px;}
.btn_area a:last-child {margin-left:20px;}
.modal_wrap .board_view {margin:0 -10px;border:1px solid #dfdfdf;padding:0;border-radius:5px;box-shadow:none;}



/* btn_pop_close */
.btn_pop_close {position:absolute;right:0px;top:0;width:70px;height:70px;text-indent:-9999px;overflow:hidden;transition:none;z-index:11;}
.btn_pop_close em {display:block;position:absolute;left:50%;top:50%;margin-top:-13px;width:26px;height:26px;margin:-10px 0 0 -13px;transform:rotate(45deg);}
.btn_pop_close em:before {position:absolute;left:0;top:50%;width:26px;height:3px;margin-top:-1px;background:#222;border-radius:1px;content:"";animation:btnMgnb both 0.4s 0.4s;}
.btn_pop_close em:after {position:absolute;left:50%;top:0;width:3px;height:26px;margin-left:-1px;background:#222;border-radius:1px;content:"";animation:btnMgnbH both 0.4s 0.6s;}
