/*main*/

/*메인 슬라이드*/
.swiperArea {overflow:hidden;max-width:1180px;margin-left:280px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:45px;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {content:none;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {content:none;}
.swiper-button-prev{background:url(../../resource/images/contents/ico_prevbtn.png) no-repeat;}
.swiper-button-next{background:url(../../resource/images/contents/ico_nextbtn.png) no-repeat;}
.swiper-button-prev, .swiper-button-next {width:40px;height:40px;background-color:#f9b700;background-position:center;border-radius:100%;z-index:1;}
.swiper-button-next.swiper-button-disabled {background-color:#f5f5f5;background-image:url(../../resource/images/contents/ico_nextbtn_off.png);}
.swiper-button-prev.swiper-button-disabled {background-color:#f5f5f5;background-image:url(../../resource/images/contents/ico_prevbtn_off.png);opacity:1;}
.mobile.mainBanner {display:none;}
.mainBanner {position:relative;margin:0 30px;}
.mainBanner .main_bannerArea {max-width:1860px;margin:0 auto;}
.mainBanner .main_bannerArea:after {content:'';display:block;clear:both;}
.mainBanner .main_bannerArea .b_areaBox {float:left;position:relative;width:50%;height:355px;}
.mainBanner .main_bannerArea .b_areaBox .bannerArea {position:relative;display:block;width:100%;height:100%;}
.mainBanner .main_bannerArea .b_areaBox.left {border-top-left-radius:10px;border-bottom-left-radius:10px; }
.mainBanner .main_bannerArea .b_areaBox.right {border-top-right-radius:10px;border-bottom-right-radius:10px; background-position:0 center !important;}
.m_banner_btnArea {display:none;}
body.on {overflow:scroll;}
.recom_slideArea {position:relative;}
.recom_slideArea .slide_arrowBox {position:absolute;left:0;top:0;}
.recom_slideArea .slide_arrowBox span {display:block;}
.recom_slideArea .slide_arrowBox p {font-size:26px;font-weight:700;color:#000;font-weight:800;font-family:'NanumSquareRound'}
.arrow_btnArea {position:relative;top:50px;}
.recom_slideArea .slide_contBox ul:after {content:'';display:block;clear:both;}
.recom_slideArea .slide_contBox .img_list {float:left;}/*max-width:180px;*/
.recom_slideArea .slide_contBox .img_list:first-child {margin-left:0;}
.recom_imgBox {border-radius:10px;overflow:hidden;}
.recom_imgBox img {width:100%;}
.main_dataList {position:relative;margin-top:60px;}
.left_contentArea {width:210px;position:absolute;top:0;left:0;}
.tab_filterArea {position:relative;padding-bottom:30px;margin-bottom:20px;border-bottom:1px solid #ddd;}
.m_filter_btnBox {position:relative;display:none;}
.m_filter_btnBox:after {content:'';display:block;position:absolute;left:-9px;top:0;width:20px;height:26px;background:#fff;opacity:0.9;}
.tab_filterArea h3 {font-size:26px;line-height:26px;font-weight:bold;font-weight:800;font-family:'NanumSquareRound'}
.filter_listBox {margin-top:30px;}
.filter_listBox .list_titTxt {display:block;margin-bottom:20px;font-size:18px;line-height:18px;font-weight:500;}
.filter_listBox .list_cont {margin-bottom:15px;}
.filter_listBox .list_cont label span {margin-left:10px;font-size:16px;font-weight:500;}
.customer_boxArea {margin-bottom:20px;}
.customer_boxArea a {display:block;width:100%;height:60px;margin-bottom:10px;font-size:0;border-radius:10px;}
.customer_boxArea .customer_appeal {background:url(../../resource/images/layout/tab_filterBanner01.jpg) no-repeat;background-position:center;}
.customer_boxArea .customer_service {background:url(../../resource/images/layout/tab_filterBanner02.jpg) no-repeat;background-position:center;}
.left_contentArea .footer {padding-top:20px;padding-bottom:50px;border-top:1px solid #ddd;}
.left_contentArea .footer ul:after {content:'';display:block;clear:both;}
.left_contentArea .footer ul li {float:left;width:50%;font-size:14px;line-height:14px;color:#888;font-weight:500;margin-right:0;}
.left_contentArea .footer ul li:last-child {float:none;width:100%;}
.left_contentArea .footer ul li a {display:block;padding-bottom:15px;font-size:14px;color:#888;font-weight:500;letter-spacing:-1px;}
.main_contentArea {padding-left:280px;margin:0 -10px;}
.main_contentArea ul {width:100%;}
.main_contentArea ul:after {content:'';display:block;clear:both;}
.main_contentArea ul li {float:left;width:20%;}
.main_contentArea ul li a {display:block;padding:0 10px;}
.main_contentArea ul li .data_imgBox {position:relative;width:100%;height:auto;border-radius:10px;overflow:hidden;box-sizing: border-box;}
.main_contentArea ul li .data_imgBox:after {content:'';display:block;position:absolute;left:0;right:0;top:0;bottom:0;border:3px solid #f9b700;box-sizing: border-box;border-radius:10px;opacity:0;}
.main_contentArea ul li .data_imgBox:hover:after {opacity:1;}
/* 21.02.24 jhj 수정 */
.main_contentArea ul li .data_imgBox .emot{display:none;}
.main_contentArea ul li .data_imgBox.on .base{display:none;}
.main_contentArea ul li .data_imgBox.on .emot {display:block;}

.main_contentArea ul li .data_imgBox .ico_rabbit {position:absolute;display:none;bottom:12px;right:12px;width:40px;height:40px;border-radius:100%;background:url(../../resource/images/contents/ico_heart_rabbit.png) no-repeat;background-position:center;z-index:10;}
.main_contentArea ul li .data_imgBox .ico_rabbit.on {background-image:url(../../resource/images/contents/ico_heart_rabbit_orange.png);}
.main_contentArea ul li .data_imgBox:hover .ico_rabbit {display:block;}
.main_contentArea ul li .data_imgBox img {width:100%;}
.main_contentArea ul li .btm_txtBox {margin:15px 0 20px;height:70px;}
.main_contentArea ul li .btm_txtBox strong {display: inline-block;padding-bottom:10px;font-size:16px;line-height: 16px;font-weight:500;color:#000;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;}

/*모바일 메뉴*/
.m_menuArea.on {display:none;}/*pc에서 삭제*/
.m_menuArea {position:fixed;top:0;bottom:0;right:-100%;width:310px;max-height:667px;height:100%;background:#fff;z-index:20;transition:linear 0.3s;}
/*.m_menuArea .dim {display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:#000;opacity:0.5;z-index: 5;}*/
.dimd {display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:#000;opacity:0.5;z-index: 19;}
.m_menuArea .m_menuBox {position:relative;z-index:20;height:100%;background:#fff;}
.m_menuArea .joinArea {padding:12px 20px;border-bottom:1px solid #eee; }
.m_menuArea .joinArea li {display:inline-block;}
.m_menuArea .joinArea li a {display:block;font-size:16px;font-weight:900;}
.m_menuArea .joinArea li.join a {margin-left:20px;width:95px;height:38px;color:#fff;background-color:#f9b700;border-radius:20px;line-height:38px;text-align:center;}
.m_menuArea .top_box {position:relative;}
.m_closeBtn {position:absolute;right:20px;top:50%;transform:translateY(-50%);width:17px;height:17px;cursor:pointer;}
.m_closeBtn span {display:block;width:17px;height:1.5px;background:#000;border-radius:20px;}
.m_closeBtn span:first-child {transform:rotate(45deg);position: absolute;top:5px;}
.m_closeBtn span:last-child {transform:rotate(-45deg);position: absolute;top:5px;}
.joinMembers {padding:20px;box-sizing: border-box;border-bottom:1px solid #eee;}
.joinMembers:after {content:'';display:block;clear:both;}
.joinMembers p {display:block;float:left;font-size:16px;font-weight:500;line-height:19px;}
.membersBox {padding:20px;text-align:center;box-sizing:border-box;}
.membersBox strong {display:block;padding-bottom:15px;font-size:14px;font-weight:500;}
.membersBox .membership_btn {display:block;width:100%;height:43px;background:#f9b700;border-radius:10px;font-size:14px;font-weight:900;color:#fff;}
.members_list {border-bottom:15px solid #f5f5f5;}
.members_list ul {overflow:hidden;}
.members_list li {float:left;width:50%;padding:15px 20px;border-top:1px solid #eee;box-sizing: border-box;}
.members_list li:nth-child(2n) {border-left:1px solid #eee;box-sizing: border-box;}
.members_list li a {font-size:14px;}
.m_menuArea .l_list > a {position:relative;display:block;font-size:17px;padding:20px;box-sizing:border-box;border-bottom:1px solid #eee;}
.m_menuArea .l_list > a.m_customerBtn:after {content:'';display:block;position:absolute;right:20px;top:50%;transform:translateX(-50%);width:11px;height:7px;background:url(../../resource/images/contents/ico_arrow_down_m.png) no-repeat;background-position:center;background-size: contain;transition:linear 0.3s;}
.m_menuArea .l_list > a.m_customerBtn.on {background:#666;color:#fff;}
.m_menuArea .l_list > a.m_customerBtn.on:after {}
.m_customerBox {position:relative;top:-15px;display:none;padding:20px 20px 0 20px;background:#f5f5f5;transition:linear 0.3s;}
.m_customerBox:after {content:'';display:block;clear:both;}
.m_customerBox.on {display:block;top:0;}
.m_menuArea .l_list > a.m_customerBtn.on:after {background-image:url(../../resource/images/contents/ico_arrow_up_m.png);}
.m_customerBox li {float:left;width:50%;padding-bottom:20px;}
.m_customerBox li a {display:block;font-size:14px;color:#666;}

/*상세*/
.detail_titleArea {margin-right:320px;max-width:1140px;width:100%;transition:linear 0.2s;}
.detail_titleArea .title_boxArea {width:100%;}
.detail_titleArea .title_boxArea:after {content:'';display:block;clear:both;}
.detail_titleArea .title_imgBox {float:left;max-height:492px;height:492px;width:51.5%;border-radius:10px;}
.detail_titleArea .title_contBox {float:right;max-width:490px;width:calc( 48.5% - 60px);}
.detail_titleArea .title_contBox .titleText {display:block;margin:20px 0;font-size:32px;font-weight:900;line-height:42px;font-weight:800;font-family:'NanumSquareRound'}
.tag_list li {display:inline-block;margin-bottom:5px;border:1px solid #ddd;border-radius:20px;}
.tag_list li a {display:block;padding:7px 15px;font-size:16px;line-height:16px;color:#888;box-sizing: border-box;}
.btn_boxArea {width:100%;margin-top:60px;font-size:0;}
.button_conBox {display:inline-block;}
.button_conBox.linkCon {position:relative;float:left;width:60px;height:60px;}
.button_conBox.linkCon:nth-child(2n) {margin-left:10px;}
.button_conBox.downCon {float:right;width:70%;margin-left:10px;}
.notice_boxArea {margin-top:20px;padding:30px;background:#f5f5f5;border-radius:10px;box-sizing: border-box;}
.notice_boxArea p {font-size:16px;color:#888;}
.notice_boxArea strong {display:block;margin-left:25px;margin-top:10px;box-sizing: border-box;font-size:16px;color:#888;line-height:19px;text-decoration:underline;}
.notice_boxArea strong {position:relative;}

.notice_boxArea strong:before {content:'';display:block;position:absolute;top:0;left:-20px;width:19px;height:19px;background:url(../../resource/images/contents/ico_mark.png) no-repeat;background-position:center;}
.edit_boxArea {margin-top:80px;margin-bottom:60px;width:100%;border-radius:10px;overflow:hidden;}

.notice_boxArea.caution strong:before {background-image:url(../../resource/images/contents/ico_mark_red.png);}
.edit_boxArea img {width:100%;}
.detail_bannerArea {position:absolute;right:0;top:0;max-width:210px;}
.banner_boxArea {padding:30px 30px 20px;text-align:center;border-radius:10px;border:1px solid #eee;background:#fff;overflow:hidden;}
.banner_boxArea h3 {padding-bottom:20px;font-size:18px;color:#222;letter-spacing:-0.5px;}
.banner_boxArea .list_txt {font-size:15px;line-height:15px;padding-bottom:5px;}
.banner_boxArea .tag_txt {padding-bottom:20px;}
.banner_boxArea .arrow_btnArea {top:auto;height:40px;width:90px;margin:0 auto ;}
.banner_boxArea .swiper-button-next, .banner_boxArea .swiper-container-rtl .swiper-button-prev {right:0;}
.customer_boxArea {margin-top:30px;}
.btn_boxArea:after {content:'';display:block;clear:both;}

/*로그인*/
.join_wrap .wrapper {margin:0 auto;min-height:760px;}
.join_wrap #container {margin:0;background:#f5f5f5;}
.join_boxArea {max-width:500px;margin:0 auto;padding: 60px 0 50px;}
.join_boxArea h3 {display:inline-block;width:100%;text-align: center;font-size:38px;line-height:38px;padding-bottom:40px;font-weight:800;font-family:'NanumSquareRound'}
.login_contBox {max-height:550px;padding:60px 40px;background:#fff;border-radius:10px;box-sizing:border-box;}
.inp_box {max-width:420px;margin-bottom:10px;}
.join_boxArea .list_cont {margin-top:15px;margin-bottom:30px;}
.join_boxArea .list_cont label {font-size:16px;}
.join_boxArea .list_cont label span {margin-left:15px;}
.btn_joinArea {padding:30px 70px;}
.btn_joinArea:after {content:'';display:block;clear:both;}
.btn_joinArea li {float:left;}
.btn_joinArea li a {display:block;font-size:16px;color:#9b9b9b;line-height:16px;}
.btn_joinArea li a.id_find, .btn_joinArea li a.pw_find {position:relative;margin-right:20px;}
.btn_joinArea li a.id_find:after, .btn_joinArea li a.pw_find:after {content:'';display:block;position:absolute;right:-13px;top:4px;width:1px;height:10px;background:#ddd;}
.btn_joinArea li a.m_join {color:#222;}
.sns_btnArea ul:after {content:'';display:block;clear:both;}
.sns_btnArea ul li {float:left;}
.sns_btnArea .kakao, .sns_btnArea .naver {position:relative;display:block;width:205px;height:60px;padding-left:20px;border:1px solid #ddd;border-radius:10px;text-align:center;line-height:58px;font-size:18px;color:#222;box-sizing: border-box;}
.sns_btnArea .naver {margin-left:10px;}
.sns_btnArea .kakao span {position:relative;}
.sns_btnArea .kakao span:after{content:'';display:block;position:absolute;left:-35px;top:0px;;width:28px;height:28px;background:url(../../resource/images/contents/ico_kakao.png) no-repeat;background-position: center;}
.sns_btnArea .naver span {position:relative;}
.sns_btnArea .naver span:after{content:'';display:block;position:absolute;left:-35px;top:50%;transform:translateY(-50%);width:28px;height:28px;background:url(../../resource/images/contents/ico_naver.png) no-repeat;background-position: center;}
.sns_btnArea p {text-align:center;font-size:16px;color:#888;margin-top:20px;}

/*아이디 찾기*/
.join_boxArea .find_txt {margin-bottom:40px;font-size:18px;text-align:center;display: block;font-weight:400;}
.join_boxArea .find_txt span {display:block;}
.login_findBox {max-height:490px;padding:60px 40px;background:#fff;border-radius:10px;box-sizing:border-box;}
.inp_box {position:relative;}
.inp_box:after {content:'';display:block;clear:both;}
.inp_box .left {float:left;width:74.5%;max-width:316px;}
.inp_box .right {float:right;width:22%;}
.login_findBox .inp_box .btn_orange {margin-top:20px;}

/*회원가입*/
.join_membersBox {padding:60px 40px;background:#fff;border-radius:10px;}
.membership_topTxt {text-align:center;margin-bottom:40px;}
.membership_topTxt span {font-size:18px;color:#222;}
.membership_topTxt .login_goBtn {font-size:18px;color:#f9b700;text-decoration:underline;padding-left:10px;}
.join_membersBox .sns_btnArea {padding-bottom:40px;border-bottom:1px solid #eee;}
.join_membersBox .join_boxArea {padding-top:70px;padding-bottom:20px;}
.join_membersBox .inp_box {margin-bottom:50px;}
.join_membersBox .inp_box.phone {margin-bottom:10px;}
.join_membersBox .inp_box.number {margin-bottom:15px;}
.inp_box .left.middle {width:45%;}
.inp_box .right.middle {width:45%;}
.inp_box .center_mark {display:inline-block;text-align:center;width:10%;padding:17px 0;font-size:16px;}
.inp_box .inp_titTxt {position:absolute;top:-30px;font-size:18px;font-weight:500;}
.discord {display:block;position:relative;padding-left:25px;margin-top:10px;font-size:16px;color:#fd4722;line-height:16px}
.discord:before {content:'';display:block;position:absolute;left:0;top:0;background:url(../../resource/images/contents/ico_mark_red.png) no-repeat;background-position:center;width:19px;height:19px;}
.sns_check span {color:#888;}
.join_boxArea .list_cont.sns_check {margin-bottom:0;}
.check_boxArea .list_titTxt {display:block;font-size:18px;margin-bottom:15px;}
.check_boxArea .list_contBox {border:1px solid #ddd;border-radius:10px;}
.check_boxArea .list_cont.allCheck {margin:0;margin-bottom:20px;padding:20px;border-bottom:1px solid #ddd;}
.check_boxArea .list_cont {margin-bottom:20px;padding-left:20px;}


/*고객센터*/
.service_boxArea {max-width:1180px;margin:0 auto;}
.service_boxArea h2 {margin-top:60px;margin-bottom:40px;text-align:center;font-size:38px;line-height:38px;font-weight:800;font-family:'NanumSquareRound'}
.top_listBox ul {display:flex;margin-bottom:70px;border-radius:10px;overflow:hidden;background:#f5f5f5;border:1px solid #ddd;box-sizing: border-box;}
.top_listBox ul:after {content:'';display:block;clear:both;}
.top_listBox ul li {width:100%;height:60px;line-height:60px;text-align:center;}
.top_listBox ul li:first-child a:before {content:none}


.top_listBox ul li a {position:relative;display:block;font-size:18px; color:#888;letter-spacing:-1px;}

.top_listBox ul li a.on {background:#f9b700;border-radius:10px;height:62px;color:#fff;font-weight:bold;margin-left:-1px;margin-top:-1px;line-height:62px;}

.top_listBox ul li a:before {content:'';display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:15px;background:#ddd;}
.top_listBox ul li a.on:before {content:none}
.cont_topArea {margin-bottom:24px;}
.cont_topArea:after {content:'';display:block;clear:both;}
.cont_topArea .s_titleTxt {float:left;font-size:24px;font-weight:bold;}
.cont_topArea .more_btn {float:right;}

.service_tblBox {margin-bottom:60px;}
.service_tblBox .tableBox {border-top:3px solid #222;}
/*.tableBox tbody{}*/
.tableBox tr {height:60px;border-bottom:1px solid #ddd;}
.bg_noticeTitle {background:#f5f5f5}
.td_txt {padding-left:30px;line-height:24px;box-sizing: border-box;}
.notice_tag {display:inline-block; margin-right: 10px;width:45px;height:30px;background:#f9b700;border-radius:20px;text-align:center;line-height:30px;color:#fff;font-size:14px;}
.tok_tag {display:inline-block; margin-right: 10px;margin-left:10px;width:17px;height:20px;background:url(../../resource/images/contents/ico_lock.png) no-repeat;background-position: center;text-indent:-9999px;line-height:20px;}
.notice_tag.gray {background:#666;}
.fw400 {font-weight:400;}
.td_txt {font-size:16px;vertical-align:middle;}
.td_txt {padding-left:20px }
.td_txt a {font-size:16px;color:#222;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; display: inline-block; max-width:calc(100% - 62px); vertical-align: middle;}
.td_txt a:hover {text-decoration:underline;}
.td_txt .notice_txt span {float:left;padding-left:5px;}
.td_date, .td_name {width:120px;text-align:center;font-size:16px;color:#888;}
.service_banner {position:relative;margin:0 auto;margin-bottom:50px;padding:35px 20px;box-sizing:border-box;width:100%;max-width:1180px;height:133px;background:url(../../resource/images/layout/service_banner.png) no-repeat;background-position:right center;border-radius:10px;border:1px solid #ddd;}
.service_txtBox .tel_number {font-size:30px;color:#f9b700;font-weight:800;font-family:'NanumSquareRound'}
.service_txtBox .time_number {font-size:16px;color:#222;padding-left:10px;}
.service_txtBox .date_box span {font-size:16px;color:#888;}
.slide_boxArea {    margin-bottom: 60px;}
.slide_listBox {border-top:3px solid #222;}
.slide_listBox ul li .slide_question {position:relative;height:60px;line-height:60px;padding-left:30px;box-sizing: border-box;border-bottom:1px solid #ddd;font-size:16px;color:#222;cursor:pointer;}
.slide_listBox ul li .slide_question:after {content:'';display:block;position:absolute;right:30px;top:50%;transform: translateY(-50%);background:url(../../resource/images/contents/ico_arrow_down_g02.png) no-repeat;width:12px;height:8px;}
.slide_listBox ul li .slide_question.on:after {background-image:url(../../resource/images/contents/ico_arrow_up_g.png);}
.slide_listBox ul li .slide_question em {padding-right:10px;color:#f9b700;font-size:20px;font-weight:800;font-family:'NanumSquareRound'}
.slide_listBox ul li .slide_answer {display:none;height:80px;padding-left:30px;border-bottom:1px solid #ddd;box-sizing: border-box;line-height:80px;font-size:16px;color:#888;background:#f5f5f5;}
.slide_listBox ul li .slide_answer.on {display:block;}
.slide_listBox ul li .slide_answer p {position:relative;padding-left:20px;}
.slide_listBox ul li .slide_answer em {position:absolute;left:0;top:0;font-size:20px;font-weight:800;font-family:'NanumSquareRound'}
.slide_listBox ul li .slide_answer span {padding-left:25px;display:block;}
.guide_wrap .service_guideBox .notice_boxArea strong {margin-left:20px;}

/*공지사항*/
.s_pTxt {font-size:20px;float:left;}
.yellow {color:#f9b700;}
.notice_wrap .cont_topArea {line-height:50px;}
.cont_topArea .right {float:right;width:100%;max-width:490px;}
.cont_topArea .right:after {content:'';display:block;clear:both;}
.cont_topArea .select01, .cont_topArea .select04{float:left;max-width:150px;height:50px;}
.cont_topArea .searchArea {float:left;width:320px;height:50px;margin-left:10px;}
.service_boxArea .search_box {margin-top:0;}
.service_boxArea .search_box .search_txt {width:100%;}
.service_boardBox {padding-bottom:110px;border-top:3px solid #222;}
.service_boardBox .board_txtBox {padding:25px 30px;border-bottom:1px solid #ddd;box-sizing: border-box;}
.service_boardBox .board_txtBox:after {content:'';display:block;clear:both;}
.service_boardBox .notice_tag {position:absolute;}
.service_boardBox .notice_txt {float:left;font-size: 16px;color: #222;vertical-align: middle;}
.service_boardBox .board_txtBox .notice_txt em {position:relative;top:-1px;}
.service_boardBox .notice_txt .titText {padding-left:55px;}
/*.service_boardBox .notice_txt p, .service_boardBox .notice_txt span {float:left;} */
.board_txt {float:left;width:calc( 100% - 80px );line-height:30px;}
.board_txt span {padding-left:5px;}
.service_boardBox .board_date {float:right;font-size:16px;color:#888;}
.service_boardBox .notice_txt p {padding-left:20px;padding-right:5px;font-size:20px;}
.service_boardBox.note .board_txtBox {padding:0 30px;width:100%;}
.service_boardBox.note .notice_leftTxt p {padding:25px 0;box-sizing: border-box;}
.board_center {padding:40px 30px;border-bottom:1px solid #ddd;}
.board_center:after {content:'';display:block;clear:both;}
.board_center p {font-size:16px;line-height: 25px;letter-spacing:-0.2px}
.board_downBox {position:relative;margin-top:30px;width:387px;height:50px;line-height:50px;border:1px solid #ddd;border-radius:10px;padding-left:20px;}
.board_downBox i {display:inline-block;vertical-align:top;}
.board_downBox span {padding-left:10px;font-size:16px;color:#888;letter-spacing:-1px}
.board_downBox em {padding-left:10px;font-size:12px;color:#888;}
.board_downBox .file_down {position:absolute;top:0;right:0;display:block;width:100%;height:100%;}
.board_downBox .file_down i {position:absolute;right:20px;top:50%;transform:translateY(-50%);display:block;width:18px;height:14px;background:url(../../resource/images/contents/ico_file_down.png) no-repeat;}
.board_txtBox:after {content:'';display:block;clear:both;}
.board_txtBox .notice_inpBox {max-width:440px;float:left;width:100%;margin:15px 0 ;}
.board_txtBox .notice_inpBox .select02 {display:block;width:100%;height:50px;border-radius:10px;font-size:16px;}
.board_txtBox .inp_box {float: left;line-height: 80px;padding: 15px 0;max-width: 1000px;width: 76.5%;}
.board_txtBox .inp_box .btn_gray_w {font-size:16px;}
.board_txtBox .btn_black_file {max-width:140px;width:12.5%;}
.board_txtBox #service_fileBtn {display:none;}


.board_center .inp_box {float:left;max-width:1000px;width:89%;}
.board_center.textareaBox {width:100%;padding:15px 30px}
.board_center .inp_box textarea {display:block;max-width:1000px;width:100%;height:320px;padding:20px;font-size:16px;border-radius:10px;box-sizing: border-box;}
.board_txtBox .inp_box.file {max-width:850px;}
.notice_leftTxt p{max-width:120px;width:10.5%;float:left;font-size:20px;font-weight:500;}
.service_boardBox .btn_gray_w {height:50px;}
.board_prevnext .next, .board_prevnext .prev {height:60px;padding:19px 0 20px 30px;border-bottom:1px solid #ddd;box-sizing: border-box;}
.board_prevnext .next span , .board_prevnext .prev span {font-size:16px;color:#888;}
.board_prevnext .prev a, .board_prevnext .next a {font-size:16px;color:#888;margin-left:30px;}
.center_area {margin-top:30px;text-align: center;font-size:0;}
.center_area .btn_orange_middle, .center_area .btn_black_middle {margin-left:10px;}
.selectBox {float:right;width:330px;height:50px;}

/*이용약관*/
.rule_wrap .tableBox {border:0;}
/* 21.03.10 jhj 수정 */
.rule_wrap .cont_topArea .s_titleTxt {float:none;}
.rule_wrap .cont_topArea p {font-size:16px;line-height:35px; }
.rule_wrap .notice_boxArea strong {display:block;}
.rule_list {width:100%;padding:40px 30px;margin-bottom:40px;background:#f5f5f5;border-radius:10px;box-sizing: border-box;}
.rule_list:after {content:'';display:block;clear:both;}
.rule_list ul {float:left;width:33.3333%}
.rule_list ul li {font-size:16px;color:#222;line-height:35px;}
.rule_list ul li:hover {text-decoration:underline;font-weight:500;}
.rule_list .last_listCon {padding-left:40px;box-sizing: border-box;}
.rule_list ol li {position:relative;padding-left:15px;line-height:32px;font-size:16px;}
.rule_list ol li span {display:block;position:absolute;left:5px;top:8px;width:4px;height:4px;background:#888;border-radius:100%;}
.title_head {font-size:18px;color:#222;font-weight:bold;margin-bottom:30px;}
.title_b {display:block;font-size:18px;color:#222;font-weight:bold;margin-bottom:20px;}
.title_g {font-size:16px;color:#666;}
.desc_paper {font-size:16px;color:#666;margin-bottom:30px;}
.desc_paper span {display:block;}
.desc_paper02 {position:relative;font-size:16px;color:#666;line-height:29px;}
.desc_paper02 em {position:absolute;left:0;top:0;}
.desc_paper02 span {display:inline-block;padding-left:15px;}
.rule_subList {margin-bottom:65px;}
.rule_subList ul {padding:10px 15px}
.rule_subList p, .rule_subList ul li {font-size:16px;color:#666;}
/* 21.03.10 jhj 수정*/
.rule_subList .second_title {padding-bottom:0;padding-left:15px;}
.rule_subList p {position: relative;padding-bottom:10px;}
.rule_subList em {position:absolute;left:0;top:0;}
.rule_subList span {display: inline-block;padding-left:20px;}
.rule_subList strong {display:block;padding-left:20px;}
.second_list li {position:relative;padding-left:20px;}
.second_list li span {padding-left:0;}
.service_ruleBox {padding-bottom:50px;}
.bottom_txt {font-size:16px;padding-bottom:40px;}
.service_ruleBox .cont_topArea {line-height: 50px;}
.service_ruleBox .service_tblBox {text-align:center;margin-bottom:40px;border-top:3px solid #222;}
.service_ruleBox .service_tblBox th, .service_ruleBox .service_tblBox td {font-size:16px;}
.service_ruleBox .service_tblBox td.tb_left {width:22%;}
.service_ruleBox .service_tblBox td.tb_center {width:34%;}
.service_ruleBox .service_tblBox td.tb_right {width:44%;}
.service_ruleBox .service_tblBox td, .service_ruleBox .service_tblBox td a {color:#666;}
.service_ruleBox .service_tblBox td {position:relative;}
.service_ruleBox .service_tblBox td a {display:block;width:100%;height:100%;text-decoration: underline;}

.service_tblBox.board01 th:first-child, .service_tblBox.board01 td:first-child  {width:300px;}
.service_tblBox.board02 th:last-child  {width:200px;}
.service_tblBox.board02 th {width:180px;}
.service_tblBox.board04 th {min-width:500px;}


/* //21.03.10 jhj 수정*/
.td_txt_bl {color:#222 !important;font-weight:500;}
.td_bg_gray {background:#f5f5f5;}
.td_borl {border-left:1px solid #ddd;}

/*고객센터 - 콘텐츠 사용안내*/
.rule_list .notice_boxArea {margin:0;padding:0;}
.rule_list .notice_boxArea strong {margin:0;margin-bottom:10px;text-decoration:none;color:#222;}
.rule_list .notice_boxArea strong i:before {bottom:2px;left:-25px;}
.service_guideBox .notice_boxArea.caution {margin-bottom:40px;}
.service_guideBox .notice_boxArea strong {text-decoration:none;margin-top:0;padding-bottom:15px;}
.service_guideBox .notice_boxArea strong .mark_red:before {bottom:2px;left:-25px;background-image:url(../../resource/images/contents/ico_mark_red.png)}
.service_guideBox .notice_boxArea p {line-height:25px}
.service_guideBox .service_banner {height:190px;margin-top:40px;padding:50px 30px;background-image:url(../../resource/images/layout/service_banner01.jpg)}
.service_guideBox .service_banner .service_txtBox strong {display:block;margin-bottom:15px;font-size:16px;color:#222;}
.service_guideBox .service_banner .service_txtBox p {font-size:16px;color:#666;}
.service_guideBox .service_banner .service_txtBox span {display:block;}
.service_goodBad {width:100%;padding-bottom:50px;}
.service_goodBad:after {content:'';display:block;clear:both;}
.service_goodBad .service_goodBox {float:left;width:49%;height:210px;border:1px solid #ddd;border-radius:10px;overflow:hidden;box-sizing: border-box;}
.service_goodBad .service_badBox {float:left;width:49%;margin-left:2%;height:210px;border:1px solid #ddd;border-radius:10px;overflow:hidden;box-sizing: border-box;}
.service_goodBad .top_txt {height:60px;text-align:center;font-size:18px;color:#222;background:#f5f5f5;line-height:60px;border-bottom:1px dashed #ddd;}
.service_goodBad .top_txt span {position:relative;display: inline-block;line-height:31px;}
.service_goodBad .service_goodBox .conBox {display:table;width:100%;height:150px;padding:0 70px;box-sizing: border-box;text-align:center;}
.service_goodBad .service_goodBox .top_txt span:before {content:'';display:block;position:absolute;left:-40px;top:0;width:31px;height:31px;background:url(../../resource/images/contents/ico_smile.png) no-repeat;background-position:center;}
.service_goodBad .service_goodBox .conBox span {position:relative;display:table-cell;vertical-align:middle;font-size:16px;color:#666;padding-left:25px;box-sizing: border-box;line-height:24px;}
.service_goodBad .service_goodBox .conBox span i {position:relative;}
.service_goodBad .service_goodBox .conBox span i:before {content:'';display:block;position:absolute;left:-22px;top:3px;width:20px;height:20px;background:url(../../resource/images/contents/ico_o.png) no-repeat;background-position:center;}
.service_badBox .top_txt span {position:relative;display: inline-block;line-height:31px;}
.service_badBox .top_txt span:before {content:'';display:block;position:absolute;left:-40px;top:0;width:31px;height:31px;background:url(../../resource/images/contents/ico_angry.png) no-repeat;background-position:center;}
.service_goodBad .service_badBox .conBox {display:table;height:150px;box-sizing: border-box;text-align:center;}
.service_goodBad .service_badBox .conBox ol {overflow:hidden;display:table-cell;vertical-align:middle;padding-left:25px;}
.service_goodBad .service_badBox .conBox ol li {float:left;width:50%;padding:10px 0;padding-left:20px;font-size:16px;color:#666;box-sizing: border-box;letter-spacing:-0.7px;text-align:left;}
.service_goodBad .service_badBox .conBox ol li span {display:block;line-height: 16px;}
.service_goodBad .service_badBox .conBox ol li i {position:relative;display:block;}
.service_goodBad .service_badBox .conBox ol li i:before {content:'';display:block;position:absolute;left:-17px;top:2px;width:13px;height:13px;background:url(../../resource/images/contents/ico_x.png) no-repeat;background-position:center;}
.service_goodBad .service_badBox .conBox ol li.pl25 {padding-left:35px;}
.service_goodBad .service_badBox .conBox ol li.pl25 i:before {content:'';display:block;position:absolute;left:-17px;top:2px;width:13px;height:13px;background:url(../../resource/images/contents/ico_x.png) no-repeat;background-position:center;}


/*마이페이지*/
.mypage_boxArea {max-width:1180px;margin:0 auto;}
.mypage_boxArea h2 {margin-top: 60px;margin-bottom: 40px;text-align: center;font-size: 38px;line-height: 38px;font-family:'NanumSquareRound';}
.profile_boxArea {margin-bottom:50px;padding:30px 0;border:1px solid #ddd;border-radius:10px;overflow:hidden;}
.profile_boxArea:after {content:'';display:block;clear:both;}
.profile_boxArea > li {float:left;}
.profile_boxArea li.prof_nameBox {width:40%;padding:10px 0 10px 40px;box-sizing:border-box;}
.profile_boxArea li.prof_nameBox:after {content:'';display:block;clear:both;}
.profile_boxArea li.prof_nameBox .prof_imgBox {float:left;}
.profile_boxArea li.prof_nameBox .prof_infoBox {float:left;padding-left:30px;box-sizing:border-box;}
.profile_boxArea li.prof_nameBox .prof_infoBox strong {display:block;font-size:24px;color:#222;line-height: 24px;padding-bottom:15px;font-family:'NanumSquareRound' }
.profile_boxArea li.prof_nameBox .prof_infoBox p {padding-bottom:20px;font-size:18px;color:#666;line-height:16px;font-family:'NanumSquareRound';font-weight:bold; }
.modify_btn {display:block;width:125px;height:34px;font-size:16px;font-weight:500;color:#888;border:1px solid #ddd;border-radius:20px;text-align:center;line-height: 32px;box-sizing: border-box;}
.profile_boxArea li.prof_detailBox {width:30%;padding:0 40px 0;box-sizing:border-box;border-left:1px solid #ddd;}
.profile_boxArea li.prof_detailBox .top_btnbox {margin-bottom:30px;line-height:40px;}
.profile_boxArea li.prof_detailBox .top_btnbox:after {content:'';display:block;clear:both;}
.top_btnbox strong {float:left;display:block;font-size:20px;font-weight:bold;color:#222;}
.top_btnbox .more_btn {float:right;}
.prof_detailBox .btn_orange {max-width:270px;height:50px;margin:0 auto;line-height:50px;font-size:16px;font-weight:500;}
.profile_boxArea  .coupon_count li:first-child {padding-bottom:14px;}
.profile_boxArea  .coupon_count li:after {content:'';display:block;clear:both;}
.profile_boxArea  .coupon_count li p {float:left;font-size:18px;color:#666;line-height:18px;}
.profile_boxArea  .coupon_count li span {float:right;font-size:18px;color:#666;line-height:18px;}
.profile_boxArea  .coupon_count li span em {padding-right:5px;font-weight:900;}
.pick_listBox  {overflow:hidden;}
.pick_listBox .cont_topArea {margin-bottom:0;}
.pick_listBox .main_dataList {margin-top:15px;}
.pick_listBox .main_contentArea {margin-bottom:50px;padding:30px 0 10px;border-top:3px solid #222;border-bottom:1px solid #ddd;}
.pick_listBox .main_contentArea ul li {margin-bottom:20px;}
.pick_listBox .cont_topArea .right {width:auto;}
.pick_listBox .cont_topArea .right a {display:inline-block;width:88px;height:50px;line-height:50px;}
.pick_listBox .cont_topArea .right a.btn_black_short {margin-left:10px;}

/*마이페이지-찜목록 다운로드내역*/
.mymain_warp .mypage_boxArea .cont_topArea {line-height: 40px;}
.down_wrap .mypage_boxArea .cont_topArea {line-height: 50px;}
.coupon_wrap .mypage_boxArea .cont_topArea {line-height: 50px;}
.ask_wrap .mypage_boxArea .cont_topArea {line-height: 50px;}
.wish_wrap .mypage_boxArea .cont_topArea {line-height: 50px;}
.wish_wrap .pick_listBox .cont_topArea .right a {font-size:16px;font-weight:500;}
.wish_wrap .pick_listBox .data_imgBox .list_cont {z-index:19;}
.pick_listBox .data_imgBox .list_cont {position:absolute;top:15px;left:15px;z-index:100;}
/*.shadow {display:none;position:absolute;left:0;top:0;bottom:0;right:0;background:#948da2;opacity:0.3}*/
.pick_listBox .main_contentArea ul li .data_imgBox:hover:after {opacity:0;}
.pick_listBox.downCon .cont_topArea .right {width:100%;max-width:650px;}
.pick_listBox.downCon .cont_topArea .select04 {margin-left:10px;float:left;}
.pick_listBox.downCon .searchArea {width:320px;}
.pick_listBox.downCon .search_box {margin-top:0;}
.pick_listBox.downCon .main_contentArea ul li {margin-bottom:0;}
.pick_listBox.downCon .main_contentArea ul li .btm_txtBox {height:auto;margin-bottom:10px;}
.pick_listBox.downCon .main_contentArea .btm_txtBox ul li {float:none;width:100%;margin-bottom:10px;}
.btm_txtBox ul li:after {content:'';display:block;clear:both;}
.btm_txtBox ul li p {float:left;width:50px;font-size:14px;color:#222;letter-spacing:-1px}
.btm_txtBox ul li span {display:inline-block;padding-left:20px;font-size:14px;color:#666;}

/*마이페이지-회원정보*/
.info_membership {display:none;}
.info_membership .info_number {font-size:16px;color:#222;font-weight:500;}
.info_membership .btn_black_short {}
.mypage_boxArea .top_listBox ul {margin-bottom:60px;}
.mypage_boxArea .cont_topArea {line-height: 24px;margin-bottom:20px;}
.mypage_boardBox {padding-bottom:50px;border-top:3px solid #222;}
.board_conBox {min-height:80px;padding:15px 30px;box-sizing:border-box;border-bottom:1px solid #ddd;}
.board_conBox:after {content:'';display:block;clear:both;}
.board_conBox .info_leftTxt {float:left;width:120px;font-size:16px;color:#222;font-weight:500;}
.board_conBox .info_contBox {float:left;width:calc( 100% - 120px );font-size:16px;}
.board_conBox .info_contBox p {font-weight:500;}
.board_conBox .info_contBox .btn_black_short {float:right;font-weight:500;}
.board_conBox .info_contBox .inp_box {max-width:570px;margin-bottom:0;}
.board_conBox .info_contBox .inp_box .left {max-width:220px;}
.board_conBox .info_contBox .inp_box .center_mark {float:left;width:24px;padding:13px 0;}
.board_conBox .info_contBox .inp_box .btn_gray_w {position:relative;height:50px;line-height:50px;font-size:16px;}
.board_conBox .info_contBox .inp_box select.btn_gray_w {position:relative;background:url(../../resource/images/contents/ico_arrow_down_bl.png) no-repeat;background-position:90% center;background-size:13px 8px;}
.board_conBox .info_contBox .inp_box select.btn_gray_w:after {content:'';display:block;position:absolute;right:10px;top:50%;transform:translateY(-50%);width:11px;height:6px;background:url(../../resource/images/contents/ico_arrow_down_bl.png) no-repeat;}

.board_conBox .info_contBox .inp_box .btn_black_short,
.board_conBox .info_contBox .inp_box .btn_orange_short,
.board_conBox .info_contBox .inp_box .btn_gray_short {height:50px;line-height:50px;font-size:16px;max-width:88px;font-weight:500;}
.board_conBox .info_contBox .inp_box .inp_titTxt {text-indent:-9999px}
.board_conBox .info_contBox .inp_box .left.p_number {max-width:344px;margin-right:10px;margin-bottom:10px;}
.board_conBox .info_contBox .inp_box .left.btn_conBox {max-width:88px;}
.board_conBox .info_contBox .inp_box.sms {margin-top:5px;}
.board_conBox .info_contBox .inp_box.sms label span {margin-left:10px;color:#666;}
.board_conBox .info_contBox .discord{font-size:14px;}
.board_conBox .pwBox .inp_box.inp_box {margin-bottom:10px;max-width:440px;}
.board_conBox.info_login {padding:20px 30px;}
.board_conBox.info_login .info_contBox ul li {padding:8px 0;}
.board_conBox.info_login .info_contBox ul li.info_kakao {margin-bottom:15px;}
.info_kakao span {font-size:16px;color:#222;font-weight:500;}
.ico_kakao, .ico_naver {position:relative;display: inline-block;width:100px;padding-left:50px;}
.ico_kakao:before {content:'';display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:39px;height:39px;background:url(../../resource/images/contents/ico_sns_kakao.png) no-repeat;}
.ico_naver:before {content:'';display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:39px;height:39px;background:url(../../resource/images/contents/ico_sns_naver.png) no-repeat;}
.info_email {margin-right:20px;}
.sns_linkClear {color:#888;font-weight:400;}
.sns_linkBtn {color:#f9b700;font-weight:400;}
.sns_linkClear:hover, .sns_linkBtn:hover {text-decoration:underline;}

/*마이페이지 - 내이용권*/
.td_info {width:26%;}
.td_voucher {width:18%;}
.td_usePeriod {width:23%;}
.td_overPeriod {width:13%;}
.td_day {width:auto;}
.mypage_boardBox th {font-size:16px;font-weight:500;color:#222;letter-spacing:-0.3px;text-align:center;}
.mypage_boardBox td {padding:15px 0;font-size:16px;font-weight:400;color:#666;text-align:center;box-sizing: border-box;}
.mypage_boardBox td a.btn_orange_middle {width:175px;height:30px;margin:8px auto 0;font-size:16px;line-height:30px;border-radius:20px;padding:0;}

/*내쿠폰함*/

.main_contentArea.couponList ul li {width:25%;}
.main_contentArea.couponList ul li a {padding:0;}
.main_contentArea.couponList ul li .c_box {padding:0 10px;}
.couponList .roundTit {display:block;width:90px;height:30px;line-height:30px;font-size:14px;font-weight:500;border:1px solid #fa471f;border-radius:20px;text-align:center;margin-bottom:12px;}
.couponList .roundSale {display:block;width:90px;height:30px;line-height:30px;font-size:14px;font-weight:500;border:1px solid #f9b700;border-radius:20px;text-align:center;margin-bottom:12px;}
.couponList .titTxt {display:block;margin-bottom:15px;font-size:26px;font-family: 'NanumSquareRound';letter-spacing:-0.3px;}
.couponList .c_day {font-size:14px;color:#888;}
.coupon_wrap .cont_topArea {line-height: 50px;}
.coupon_wrap .cont_topArea .right {max-width:450px;width:100%;}
.coupon_wrap .cont_topArea .right .btn_gray_w {float:left;width:71%;height:50px;line-height:50px;}
.coupon_wrap .cont_topArea .right .btn_orange {float:right;width:26%;font-size:16px;font-weight:500;min-width:0;}
.main_contentArea.couponList ul li .coupon_bottomBox .btn_orange {height:50px;line-height:50px;font-size:16px;padding-left:10px;box-sizing: border-box;min-width:100%;}
.main_contentArea.couponList ul li .coupon_bottomBox .btn_gray {font-size:16px;padding-left:10px;box-sizing: border-box;cursor:auto;min-width:100%;}

.mypage_boardBox td a.btn_black_middle {width:175px;height:30px;margin:8px auto 0;font-size:16px;line-height:30px;border-radius:20px;padding:0;background:#222;}

.coupon_bottomBox .btn_gray em {position:relative;}
.coupon_bottomBox .btn_gray em:before {content:'';display:block;position:absolute;top:50%;transform:translateY(-50%);left:-25px;background:url(../../resource/images/contents/ico_check_w.png) no-repeat;background-position:center;width:19px;height:13px;}
.coupon_bottomBox .btn_orange em {position:relative;}
.coupon_bottomBox .btn_orange em:before {content:'';display:block;position:absolute;top:50%;transform:translateY(-50%);left:-28px;background:url(../../resource/images/contents/ico_down_w.png) no-repeat;background-position:center;width:21px;height:18px;}
.coupon_topBox {position:relative;padding:30px 27px 20px;box-sizing: border-box;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-radius:10px;}
.coupon_topBox:before {content:'';display:block;position:absolute;left:-1px;bottom:0;background:url(../../resource/images/contents/img_round01.jpg) no-repeat;background-position:center;width:13px;height:17px;}
.coupon_topBox:after {content:'';display:block;position:absolute;right:-1px;bottom:0;background:url(../../resource/images/contents/img_round03.png) no-repeat;background-position:center;width:13px;height:17px;}
.coupon_bottomBox {position:relative;padding:20px 27px;box-sizing: border-box;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px dashed #ddd;border-radius:10px;background-color:#fff;}
.coupon_bottomBox:before {content:'';display:block;position:absolute;left:-1px;top:-2px;background:url(../../resource/images/contents/img_round02.png) no-repeat;background-position:center;width:13px;height:17px;}
.coupon_bottomBox:after {content:'';display:block;position:absolute;right:-1px;top:-1px;background:url(../../resource/images/contents/img_round04.png) no-repeat;background-position:center;width:13px;height:17px;}

/*구매/결제내역*/
.buying_wrap .mypage_boxArea  {padding-bottom:60px;}
.mypage_boxArea:after {content:'';display:block;clear:both;}
.buy_infoBox {max-width:720px;float:left;width:61%;}
.payBox  {max-width:400px;float:right;width:34%;}
.buy_infoBox .s_titleTxt {font-size:20px;color:#222;}
.buy_boxArea strong {padding-left:35px;font-size:16px;color:#666;font-weight:400;}
.buy_boxArea strong {position:relative;}
.buy_boxArea strong:before {content: '';display: block;position: absolute;top:50%;transform:translateY(-50%);left: 13px;width: 19px;height: 19px;background: url(../../resource/images/contents/ico_mark.png) no-repeat;background-position: center;}
.radio_info {padding:13px 0;}
.radio_info:after {content:'';display:block;clear:both;}
.radio_info li {float:left;padding-right:20px;}
.radioList {display:inline-block;}
.radioList input[type="radio"] {display:none;}

.radioList input[type="radio"] + label {color:#222;font-family:Arial, sans-serif;cursor:pointer;font-size:16px;}

.radioList input[type="radio"] + label span {display:inline-block;width:30px;height:30px;vertical-align:middle;background:url(../../resource/images/contents/ico_radio_off.png) no-repeat;cursor:pointer;padding-left:10px;}
.radioList input[type="radio"]:checked + label span {background:url(../../resource/images/contents/ico_radio_on.png) no-repeat;}


.payBox .mypage_boardBox {border-top:0;background:#f5f5f5;border-radius:10px;}
.payBox .mypage_boardBox {padding:40px;box-sizing:border-box;}
.payBox .mypage_boardBox ul li {padding-bottom:20px;}
.payBox .mypage_boardBox ul li.listSecond,
.payBox .mypage_boardBox ul li.listThird {margin-bottom:20px;border-bottom:1px solid #ddd;line-height:32px;}
.payBox .mypage_boardBox ul li:after {content:'';display:block;clear:both;}
.payBox .mypage_boardBox ul li p {float:left;font-size:16px;color:#222;font-weight:500;}
.payBox .mypage_boardBox ul li span {float:right;font-size:16px;color:#222;}
.payBox .mypage_boardBox ul li .finalPrice {float:right;font-size:32px;font-weight:bold;color:#f9b700;letter-spacing: -0.3px;}
.product_infoBox {display: inline-block;}
.product_infoBox img {display:inline-block;padding-left:18px;}
.product_infoBox .pirceBox {padding-left:20px;display:inline-block;vertical-align:middle;}
.product_infoBox .pirceBox p {line-height:16px;padding-bottom:10px;}
.buying select {max-width:330px;height:50px;padding-left:20px;line-height:50px;width:100%;border-radius:10px;font-size:16px;color:#222;}



/*마이페이지 - 내문의함*/
.mypage_boardBox.ask {padding:77px 0;margin-bottom:30px;text-align:center;border-bottom:1px solid #ddd;}
.ask_wrap .search_box {margin-top:0;}
.ask_wrap .paging {margin-bottom:30px;}
.ask_wrap .center_area {padding-bottom:130px;}
.ask_content p {margin-top:20px;font-size:16px;line-height:16px;color:#888;}
.ask_wrap .cont_topArea .select04 {float:left;}



/*아이디어 톡톡*/
.idea_bannerArea .slide_backImg{height:350px;margin-bottom:60px;border-radius:10px;}
.idea_bannerArea .bannerArea {display:block;position:relative;width:100%;height:100%;}
.td_txt a.comment {color:#f9b700;}

/*이용방법*/
.a_mobile {display:none !important;}
.method_wrap #container {margin:0;}
.method_wrap .wrapper {margin:0;max-width:100%;margin-bottom:50px;}
.inner_bgBox {width:100%;padding:91px  230px 131px;box-sizing: border-box;}
.method_order .inner_bgBox {padding:91px 0 131px 230px;;}
.inner_bgBox:after {content:'';display:block;clear:both;}
.inner_bgBox .f_right {float:right;}
.inner_bgBox.child {height:490px;}
.inner_bgBox.design {height:430px;}
.bg_txtBox em {position:absolute;top:0;left:0;display:block;height:50px;width:50px;margin-bottom:30px;background:url(../../resource/images/contents/img_quotes_red.png) no-repeat;background-position:center;}
.bg_txtBox strong {display:block;position:relative;padding-top:80px;font-size:40px;line-height:55px;font-family:'NanumSquareRound';}
.method_order .bg_txtBox strong {color:#fff;max-width:430px;margin:0 auto;}

.bg_txtBox span {display:block;}
.bg_txtBox p {margin-top:20px;font-size:20px;}
.method_order ul li div {padding:10px;}

.method_order ul li img {width:100%;border-radius:10px;}

.inner_bgBox.child p {color:#95853f;}
.inner_bgBox.design p {color:#888;}
.inner_bgBox.together p {color:#8c9c72;}
.inner_bgBox.infinite p {color:#888;}
.inner_bgBox.anytime p {color:#778f97;}
.inner_bgBox.method_order p {color:#b2b5cf;}
.inner_bgBox.design em {background-image:url(../../resource/images/contents/img_quotes_yellow.png)}
.inner_bgBox.together em {background-image:url(../../resource/images/contents/img_quotes_green.png)}
.inner_bgBox.infinite em {background-image:url(../../resource/images/contents/img_quotes_pink.png)}
.inner_bgBox.anytime em {background-image:url(../../resource/images/contents/img_quotes_blue.png)}
.inner_bgBox.method_order em {background-image:url(../../resource/images/contents/img_quotes_white.png)}
.inner_bgBox.child {background:url(../../resource/images/layout/method_bg01.jpg) no-repeat;background-size:cover;background-position:center;}
.inner_bgBox.design {background:url(../../resource/images/layout/method_bg02.jpg) no-repeat;background-size:cover;background-position:center;}
.inner_bgBox.together {background:url(../../resource/images/layout/method_bg03.jpg) no-repeat;background-size:cover;background-position:center;}
.inner_bgBox.infinite {background:url(../../resource/images/layout/method_bg04.jpg) no-repeat;background-size:cover;background-position:center;}
.inner_bgBox.anytime {background:url(../../resource/images/layout/method_bg05.jpg) no-repeat;background-size:cover;background-position:center;}
.inner_bgBox.method_order {background:url(../../resource/images/layout/method_bg06.jpg) no-repeat;background-size:cover;background-position:center;}
.method_order:after {content:'';display:block;clear:both;}
.bg_txtBox {float:left;}

.method_order ul {float:right;max-width:680px;width:100%;}
.method_order ul:after {content:'';display:block;clear:both;}
.method_order ul li {float:left;width:48%;max-width:330px;}
.method_order ul li.method01, .method_order ul li.method02 {margin-bottom:20px;}
.method_order ul li.method02, .method_order ul li.method04 {margin-left:20px;}

.answer_box {background:#f5f5f5;}


/*.method_order ul li.method01 {background-image:url(../../resource/images/layout/method_bg06_1.jpg)}*/
