@media screen and (max-width: 1460px) { 
    .top {right:30px;bottom:50px;}
    .detail_titleArea {max-width:950px;}
    .button_conBox.downCon {width:65%;}
    .btn_boxArea {margin-top:30px;}
    .inner_bgBox {padding:91px 20px}
  
}
@media screen and (max-width: 1300px) { 
    .header .gnb {margin-left:20px;}
    .header .gnb li {margin-right:25px;}
    .main_contentArea ul li {width:25%;}
    .detail_titleArea {max-width:900px;}
    .button_conBox.downCon {width:62%;}
    .method_order .bg_txtBox {float:none;}
    .method_order .bg_txtBox {float:none;text-align:center;margin-bottom:30px;}
    .method_order ul {float:none;margin:0 auto;}
}
@media screen and (max-width: 1200px) { 
    .pc {display:none !important}
    .mobile {display:block !important;}
    .mobile.mainBanner {display:none !important;}
    .detail_titleArea {max-width:100%;}
    .mainBanner .main_bannerArea .b_areaBox.left {background-position: -130px top !important;}
 .idea_bannerArea .slide_backImg {background-position: -50px top !important;}
    .edit_boxArea {margin-bottom:40px;}
    .detail_bannerArea {position:relative;max-width:100%;overflow:hidden;}
    .detail_bannerArea .banner_boxArea {position:relative;border:0;padding:0;text-align:left;}
    .detail_bannerArea .banner_boxArea h3 {padding-top:20px;}
    .detail_bannerArea .banner_boxArea .arrow_btnArea {position:absolute;top:15px;right:18px;}
    .detail_titleArea .btn_boxArea {margin-top:30px;}
    .detail_titleArea .btn_boxArea .button_conBox.downCon {width:61%;}
    .detail_titleArea .title_contBox .titleText {font-size:25px;}
    .detail_bannerArea .customer_boxArea {max-width:420px;}
    .detail_bannerArea .customer_boxArea:after {content:'';display:block;clear:both;}
    .detail_bannerArea .customer_boxArea a {width:50%;float:left;border-radius:0;}
    .service_goodBad .service_badBox .conBox ol li {font-size:13px;letter-spacing: -1.2px;}
    .service_goodBad .service_goodBox .conBox span {font-size:14px;}
    .inner_bgBox {padding:75px 20px;}
}
@media screen and (max-width: 1100px) { 
    .main_contentArea ul li {width:33.3333%;}
   .top_listBox ul li:nth-child(4n) {letter-spacing: -3px;}
    .detail_titleArea .btn_boxArea .button_conBox.downCon {width: calc( 100% - 140px );}
  
  .profile_boxArea li.prof_detailBox {padding: 30px 20px 40px;}
  .profile_boxArea li.prof_nameBox {padding-left:20px;}
  .profile_boxArea li.prof_nameBox .prof_infoBox {padding-left:10px;}
  .couponList .titTxt {font-size:23px;}
  .coupon_topBox,.coupon_bottomBox {padding-left:10px;padding-right:10px;} 
}
@media screen and (max-width: 900px) {
    #wrap {padding-top:60px;}
   .main_wrap .mobile.mainBanner {display:block !important; overflow:hidden;}
   .header {padding:0;}
    body.on {overflow:hidden;}
    .a_pc {display:none !important;}
    .a_mobile {display:block !important;}
    .product_infoBox img.a_mobile {display:inline-block !important;}
    .mobile.mainBanner {display:block !important;}
    input::placeholder {color: #888;font-size:14px;}
    .sns_boxArea {left:0;}
    .p_bt13, .p_bt23, .p_bt35, .p_bt62, .p_bt86{padding:0;}
    /*메인 스와이프 슬라이드*/
    .swiperArea {margin-left:0;}
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:0;}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0px;}
    .swiper-button-prev, .swiper-button-next {width:37px;height:37px;}
    .swiper-pagination-bullet-active-main{width:9px;height:9px;background:url(../../resource/images/contents/ico_circle_on.png);background-position:center;background-size:contain;}
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {width:9px;height:9px;background:url(../../resource/images/contents/ico_circle_off.png);background-position:center;background-size:contain;transform:scale(1);}
    
    .top {right:18px;width:55px;height:55px;background-image:url(../../resource/images/contents/ico_topbtn_m.png);}
    .mobile.mainBanner {display:block;}/*overflow:hidden;*/
    .header .gnb, .header .joinArea {display:none;}
    .detail_wrap .footer, .detail_wrap .customer_boxArea {display:block;}
    .customer_boxArea {display:none;}
    .mainBanner {display:none;}
    .header {height:60px;}
    .header h1 {padding:10px 0;width:auto;}
    .header h1 a {background-image:url(../../resource/images/layout/logo_m.png);background-position: left;padding:0 60px;background-size:contain}
    .header .m_menuBtn {display:block;}
    .header_wrap {padding:0 18px;box-sizing: border-box;}

    .mainBanner, #container{margin:0 18px;}
    .main_dataList {margin-top:35px;}
    .detail_wrap #container{margin:0;}
    .detail_wrap .detail_titleArea {padding:0 18px 20px;border-bottom:15px solid #f5f5f5;box-sizing: border-box;}
    .detail_bannerArea .banner_boxArea {padding:0 18px;box-sizing: border-box;}
    .detail_wrap .wrapper {margin-top:0;}
    .slide_arrowBox:after {content:'';display:block;clear:both;}
    .recom_slideArea .slide_arrowBox {position:relative;padding-bottom:10px;line-height:37px;}
    .recom_slideArea .slide_arrowBox p {float:left;font-size:20px;}
    .recom_slideArea .slide_contBox .recom_imgBox {width:auto;height:auto;}
    .arrow_btnArea {position:absolute;top:21px;right:0;width:82px;}
    .mainBanner .main_bannerArea .b_areaBox {width:100%;height:355px;   transition:linear .3s;border-radius:10px;}
    .mainBanner .main_bannerArea .b_areaBox.left {background-image:url(../../resource/images/layout/main_banner01.jpg) !important;background-position:center !important;}
    .mainBanner .main_bannerArea .b_areaBox.right {background-image:url(../../resource/images/layout/main_banner02.jpg) !important;}
    .m_banner_btnArea {display:block;position:absolute;bottom:15px;left:50%;transform:translateX(-50%);width:23px;;z-index:10;overflow:hidden;}
    .m_banner_btnArea li {float:left;}
    .m_banner_btnArea li:first-child {margin-right:5px;}
    .m_banner_btnArea .m_bannerBtn {display:inline-block;width:9px;height:9px;background:url(../../resource/images/contents/ico_circle_off.png);border-radius: 100%;background-size:contain;background-position:center;}
    .m_banner_btnArea .m_bannerBtn.on {background-image:url(../../resource/images/contents/ico_circle_on.png);}
    .recom_slideArea .slide_contBox .list_txt {font-size:14px;}
    .left_contentArea {position:relative;width:100%;}
    .left_contentArea .footer {display:none;}
    .tab_filterArea {border-bottom:0;}
    .tab_filterArea h3 {line-height:36px;font-size:20px;}
    .tab_list {position:absolute;right:0;top:0;margin-top:0;width:135px;}
    .tab_list li {height:36px;line-height:36px;}
    .tab_list li .tab_btn {font-size:14px;}
    .tab_list li .tab_btn.on {height:38px;line-height:38px;}
    .search_box .search_txt {width:100%;height:43px;padding:9px 15px;font-size:14px;}
    .search_box label {top:13px;}
    .search_box #img_search {top:10px;right:15px;}
  .search_box #img_search .s_txt {background-image:url(../../resource/images/contents/ico_search_m.png);background-size:contain;}
    .filter_listBox {overflow:hidden;}
    .filter_listBox .list_titTxt {float:left;line-height:26px;font-size:14px;font-weight:700;}
    .filter_listBox .list_contBox {float:left;width:90%;}
    .filter_listBox .list_cont {display:inline-block;margin-left:15px;}
    .filter_listBox .list_cont label span {font-size:14px;}
    .main_contentArea {padding-left:0;}
    .recom_slideArea .slide_arrowBox span {display:inline;}
    .main_contentArea ul li .btm_txtBox strong {font-size:14px;line-height: 14px;padding-bottom:7px;}
    .main_contentArea ul li .btm_txtBox span {font-size:12px;line-height:12px;padding-bottom:7px;}
    .n_txt {width:32px;height:16px;font-size:10px;}
    .main_contentArea ul li .data_imgBox .ico_rabbit {display:block;background-image:url(../../resource/images/contents/ico_heart_rabbit_m.png);}
    .main_contentArea ul li .data_imgBox .ico_rabbit.on {background-image:url(../../resource/images/contents/ico_heart_rabbit_orange_m.png);}
    .main_contentArea ul li .data_imgBox:hover:after {display:none;}
    .main_contentArea ul li .btm_txtBox {margin:10px 0 0;height:64px;}
    .banner_txtBox strong {font-size:26px;line-height:32px;}
    .banner_txtBox span {padding-top:13px;padding-bottom:17px;font-size:12px;}
    .filter_boxArea {position:relative;margin-top:10px;height:45px;overflow:hidden;border:1px solid #ddd;border-radius:10px;box-sizing:border-box;}
    .filter_boxArea.on {height:auto;}
    .filter_listBox {margin:0;width:100%;padding:10px 15px 2px;box-sizing:border-box;line-height:0;border-bottom:1px solid #eee}
    .filter_listBox .list_cont {margin-bottom:8px;}
    .filter_listBox .list_titTxt {margin-bottom:0;}
    
    .m_filter_btnBox {display:block;position:absolute;right:15px;top:10px;width:70px;height:26px;background:#fff;line-height:26px;}
    .m_filter_btnBox a {position:relative;display:block;width:100%;height:100%;font-size:14px;padding-left:10px;box-sizing: border-box;}
    .m_filter_btnBox a:after {content:'';display:block;position:absolute;top:50%;transform: translateY(-50%);right:0;width:11px;height:8px;background:url(../../resource/images/contents/ico_arrowDown_orange_m.png) no-repeat;background-position:center;background-size:contain;}
    .m_filter_btnBox.on {position:relative;width:100%;height:42px;line-height:42px;right:0;top:0;}
    .m_filter_btnBox.on a {position:absolute;width:70px;right:15px;}
    .m_filter_btnBox.on a:after {background-image:url(../../resource/images/contents/ico_arrowUp_orange_m.png);}
    .m_menuArea.on {display:block;overflow-y: scroll;transition:linear 0.2s;}
    
    /*상세*/
    .t_pc {display:none;}
    .t_mobile {display:block;overflow: hidden;}
    .header .members_name, .header .members_listBox.on, .header .members_name .mem_nameTxt.on {display:none;}
    .banner_boxArea .tag_txt {padding-bottom:0;}
    .detail_titleArea {max-width:100%;}
    .detail_titleArea .title_imgBox, .detail_titleArea .title_contBox {float:none;}

    .detail_titleArea .title_imgBox {width:100%;}
    .detail_titleArea .title_contBox {width:100%;max-width:100%;max-height:100%;margin-top:20px;}
    .detail_titleArea .title_contBox .titleText {margin:13px 0 15px;font-size:22px;line-height:30px;}
    .n_txtBox {display:block;margin-top:0;}
    .n_txt, .n_txt.bl {width:40px;height:20px;line-height:20px;font-size:12px;margin-bottom:15px;}
    .tag_list li a {padding:7px 2px;font-size:14px;text-align:center;}
    .tab_listBox.t_mobile {position:relative;}
    .tab_listBox.t_mobile:after {content:'';display:block;position:absolute;right:0;top:0;width:30px;height:32px;background:#fff;opacity:0.8;z-index: 10;}
    .detail_titleArea .btn_boxArea {margin-top:15px;}
    .detail_titleArea .btn_boxArea .shareBtn, .btn_boxArea .saveBtn {width:50px;height:50px;}
    .button_conBox.linkCon{width:auto;height:auto;}
    .detail_titleArea .saveBtn {background-image:url(../../resource/images/contents/ico_rabbit_m.png);}
    .detail_titleArea .button_conBox.downCon {width:65%;}
    .detail_titleArea .btn_boxArea .downBtn {padding:10px 0;height:50px;max-width:100%;}
    .detail_titleArea .downBtn span {font-size:17px;}
    .detail_titleArea .downBtn span:after {background-image:url(../../resource/images/contents/ico_download_m.png);height:20px;}
    .notice_boxArea {padding:15px;}
    .notice_boxArea p {display:inline;font-size:14px;line-height:19px;}
  
    .notice_boxArea strong {display:block;font-size:14px;line-height:17px;}
    .notice_boxArea strong:before {width:17px;height:17px;background-size:contain;}
    .notice_boxArea strong:after {width:95px;}
    .edit_boxArea {margin-top:40px;margin-bottom:0px;}
    .banner_boxArea {padding:0;border:0;text-align:left;overflow:hidden;}
    .detail_bannerArea {max-width:100%;}
    .banner_boxArea .arrow_btnArea {top:0;margin:0;width:80px;}
    .customer_boxArea:after {content:'';display:block;clear:both;}
    .customer_boxArea .customer_appeal, .customer_boxArea .customer_service {width:50%;height:70px;float:left;border-radius:0;}
    .customer_boxArea .customer_appeal {background-image:url(../../resource/images/layout/tab_filterBanner01.jpg);background-size:cover;}
    .customer_boxArea .customer_service {background-image:url(../../resource/images/layout/tab_filterBanner02.jpg);background-size:cover;}
    .footer_wrap {padding:0 18px;}
    .footer ul, .footer .f_reserve {float:none;}
    .footer li {margin-right:10px}
    .footer .f_reserve, .footer li a {font-size:13px;}
    .footer .f_reserve {margin-top:15px;}
    
    /*로그인*/
    .join_wrap .footer {display:block;padding-bottom:35px;}
    .join_wrap .wrapper {min-height:auto;margin:0 30px;}
    .join_boxArea {padding-top:45px;padding-bottom:40px;}
    .join_boxArea h3 {padding-bottom:20px;font-size:22px;line-height:22px;}
    .login_contBox {padding:30px 20px;height:auto;}
    .btn_gray_w {height:43px;font-size:14px;min-width:40px;}
    input.btn_gray_w::placeholder {color: #888;font-size:14px;}    
    .join_boxArea .list_cont label {font-size:14px;}    
    .btn_orange {height:50px;font-size:17px;line-height:50px;min-width: 100%;}
    .btn_joinArea {padding:20px 30px;}
    .btn_joinArea li a {font-size:13px;}
    .sns_btnArea ul {width:100%;}
    .sns_btnArea ul li {width:47.5%;}
    .sns_btnArea .kakao, .sns_btnArea .naver {width:100%;height:41px;line-height: 41px;font-size:14px;}
    .sns_btnArea .naver {margin-left:5%;}
    .sns_btnArea .kakao span:after {background-image:url(../../resource/images/contents/ico_kakao_m.png);left:-27px;width:21px;height:21px;background-size:contain;}
    .sns_btnArea .naver span:after {background-image:url(../../resource/images/contents/ico_naver_m.png);width:17px;height:17px;left:-25px;background-size:contain;}
    .sns_btnArea p {font-size:14px;}
    .btn_joinArea {padding:20px 0;width:100%;}
    .btn_joinArea li {width:33.3333%;letter-spacing: -1px;text-align:center;}
    .btn_joinArea li a.id_find, .btn_joinArea li a.pw_find {margin-right:0;}
    .btn_joinArea li a.id_find:after, .btn_joinArea li a.pw_find:after {right:0;}
    .btn_orange_short {max-width:70px;min-width:43px;height:43px;font-size:14px;line-height:43px;}
    .join_boxArea .find_txt  {font-size:14px;margin-bottom:27px;}
    .login_findBox {height:auto;padding:30px 20px;}
    
    /*회원가입*/
    .select01 {min-width:43px;}
    .join_membersBox {padding:30px 20px;}
    .join_membersBox .join_boxArea {padding-top:45px;padding-bottom:10px;}
    .btn_gray_short {max-width:70px;height:43px;font-size:14px;line-height: 43px;min-width:0;}   
    .membership_topTxt {margin-bottom:20px;}
    .membership_topTxt span, .membership_topTxt .login_goBtn {font-size:14px;}
    .join_membersBox .sns_btnArea {padding-bottom:20px;}
    .join_membersBox .inp_box {margin-bottom:36px;}
    .inp_box .inp_titTxt {font-size:14px;top:-27px;}
    .inp_box .center_mark {padding:9px 0;}
    .discord {font-size:13px;line-height:17px;}
    .discord:before {width:17px;height:17px;background-size: contain}
    .check_boxArea .list_titTxt {font-size:14px;}
    .check_boxArea .list_cont.allCheck {padding:15px;margin-bottom:15px;}
    .check_boxArea .list_cont {padding-left:15px;margin-bottom:15px;}
    .join_boxArea  .join_membersBox .list_cont.sns_check {margin-bottom:0;}
    
    /*고객센터*/
    .top_listBox ul li.l_lineNone a:before {content:none;}
    .top_listBox ul {display:block;margin-bottom:30px;}
    .top_listBox ul li {float:left;width:33.3333%;height:40px;line-height:40px;}
    .top_listBox ul li a.on {height:42px;line-height:42px;}
    .top_listBox ul li a {display:block;font-size:14px;}
    .service_boxArea h2 {margin:30px 0 20px;font-size:22px;line-height:22px}
    .service_listBox ul {margin-bottom:30px;}
    .service_listBox ul li {width:33.3333%;height:42px;line-height:42px}
    .service_listBox ul li a {font-size:14px;letter-spacing:-1px}
    .service_listBox ul li a.on {height:44px;line-height:44px}
    .cont_topArea {line-height:38px;}
    .cont_topArea .s_titleTxt {font-size:18px;}
    .more_btn {width:100px;height:38px;font-size:14px;}
    .td_date, .td_name{width:65px;font-size:14px;letter-spacing: -1px;}
    .td_txt {padding-left:10px;}
    
    .td_txt .notice_txt p {padding-left:0;}
    .td_txt a {font-size:14px;}
    .tok_tag {margin-left:0;}
    .bg_noticeTitle .td_txt .notice_txt  p {padding-left:10px;}
    .td_txt .notice_tag, .td_txt .notice_txt {font-size:14px;}
    .tableBox tr {height:43px;}
    .notice_tag {width:39px;font-size:13px;height:25px;line-height:25px;margin-right:5px;}
    .service_ruleBox .service_tblBox {margin-bottom:25px;}
    .slide_boxArea {margin-bottom:25px;}
    .slide_listBox ul li .slide_question {padding-left:10px;height:43px;line-height:43px;}
    .slide_listBox ul li .slide_question p {font-size:14px;letter-spacing: -0.5px;}
    .slide_listBox ul li .slide_question em {font-size:17px;}
    .slide_listBox ul li .slide_answer {height:auto;line-height:18px;padding:20px 10px;box-sizing:border-box;}
    .slide_listBox ul li .slide_answer p {font-size:14px;}
  .slide_listBox ul li .slide_answer span {padding-left:0;}
    .s_pTxt {float:none;font-size:16px;}
    .cont_topArea {margin-bottom:10px;}
    .cont_topArea .right {float:none;max-width:100%;}
    .service_boxArea .cont_topArea .select01 {height:43px;float:left;width:35%}
    .service_boxArea .searchArea {float:right;width:61.5%;}
    .paging a {width:40px;height:40px;line-height:40px;}
    .service_boardBox .notice_txt {position:relative;width:85%;}
    .notice_wrap .service_boardBox .notice_txt {position:relative;width:100%;}
    .service_boardBox .notice_txt p {font-size:17px;letter-spacing: -2px;padding-left:10px;}
    .selectBox {width:100%}
    .selectBox .select03 {height:43px;line-height:43px;font-size:14px;min-width:0;}
    .rule_list {padding:20px;margin-bottom:20px;}
    .rule_list ul {float:none;width:100%;}
    .rule_list ul li {font-size:14px;line-height:27px;}
    .rule_list .last_listCon {padding-left:0;}
    .title_head {font-size:16px;margin-bottom:15px;}
    .desc_paper {font-size:14px;}
    .rule_subList p, .rule_subList ul li {font-size:14px;}
    .rule_subList {margin-bottom:30px;}
    .service_ruleBox .service_tblBox th, .service_ruleBox .service_tblBox td {font-size:14px;}
    .service_ruleBox .service_tblBox td.tb_left {width:190px;}
    .service_ruleBox .service_tblBox td.tb_center {width:293px;}
    .service_ruleBox .service_tblBox td.tb_right {width:380px;}
    .service_ruleBox .notice_boxArea p {display:block;padding-bottom:12px;}
    .board_txt {width:100%;height:25px;line-height:25px;}
    .board_center {padding:30px 10px;}
    .board_center p {font-size:14px;}
    .board_downBox {width:100%;box-sizing: border-box;padding-left:10px;}
    .board_downBox i {display:none;}
    .board_downBox .file_down {background-position:280px center;}
    .board_downBox span{font-size:13px;padding-left:0;}
    .board_prevnext .next span, .board_prevnext .prev span {font-size:14px;display: inline-block;vertical-align: top;}
    .board_prevnext .prev a, .board_prevnext .next a {display:inline-block;margin-left:20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width:200px;font-size:14px;}
    .center_area button {margin:0;}
    .btn_gray_middle, .btn_black_middle, .btn_orange_middle {padding:10px 0;width:27%;height:43px;font-size:15px;}
    .center_area .btn_black_middle,   .center_area .btn_orange_middle {margin-left:2%;}
    .service_boardBox {padding-bottom:30px;}
    .board_prevnext .next, .board_prevnext .prev {display:block;padding-left:10px;}
    .board_center .inp_box {width:100%;}
    .board_center.textareaBox {padding:15px 10px;box-sizing: border-box;}
    .notice_leftTxt p {width:100%;font-size:14px;line-height:14px;}
    .board_txtBox .notice_inpBox .select02 {font-size:14px;}
    .board_txtBox .inp_box {width:100%;}
    .board_txtBox .inp_box {padding:0;margin:10px 0;}
    .board_txtBox .inp_box .btn_gray_w {height:43px;}
    .board_center .inp_box textarea {height:210px;margin-top:10px;font-size:14px;}
    .board_txtBox .inp_box.file {width:71%;}
    .board_txtBox .btn_black_file {width:26%;height:43px;margin:10px 0;font-size:14px;}
    .service_boardBox .notice_tag {position:absolute;left:0;}
    .service_boardBox .notice_txt span {display:inline-block;padding-left:50px;}
  
    .guide_wrap .rule_list {padding:15px 10px;margin-bottom:20px;}
    .rule_list ol li {font-size:14px;line-height:20px;padding-bottom:15px;}
    .title_b {font-size:16px;}
    .desc_paper02 {font-size:14px;line-height:20px;}
    .service_guideBox .service_banner {margin:20px 0;}
    .service_guideBox .notice_boxArea strong {display:block;}
    .service_guideBox .notice_boxArea p {display:block;}
    .service_guideBox .service_banner .service_txtBox strong {font-size:14px;}
    .service_guideBox .service_banner .service_txtBox p {font-size:14px;}
    .service_guideBox .service_banner {padding:20px;}
    .service_goodBad .service_goodBox .top_txt span:before {background-image:url(../../resource/images/contents/ico_smile_m.png);width:20px;height:20px;left:-26px;top:6px;}
    .service_goodBad .service_badBox .top_txt span:before {background-image:url(../../resource/images/contents/ico_angry_m.png);width:20px;height:20px;left:-26px;top:6px;}
    
    .service_boardBox.note .notice_leftTxt p {padding:0;float:none;}
    .board_txtBox .notice_inpBox {margin:5px 0;}
    .service_boardBox.note .board_txtBox {height:95px;padding:15px 10px;box-sizing: border-box;}
    .board_txtBox .notice_inpBox .select02 {height:43px;}
    .service_goodBad {padding-bottom:30px;}
    .service_goodBad .service_goodBox .conBox {padding-left:10px;padding-right:10px;}
    .service_goodBad .service_badBox .conBox ol li.pl25:before, .service_goodBad .service_badBox .conBox ol li:before {left:0;top:6px;}
    .service_goodBad .service_goodBox {width:100%;}
    .service_goodBad .service_badBox {width:100%;margin-left:0;}
    .service_goodBad .service_badBox {margin-top:20px;}
    .service_goodBad .service_badBox .conBox ol li {line-height:25px;}
    .service_goodBad .service_badBox .conBox ol {padding:0 50px;}
    .service_goodBad .service_goodBox .conBox span i:before {top:0;}
    .service_goodBad .service_badBox .conBox ol li i:before {background-image:url(../../resource/images/contents/ico_x_m.png);top:0;width:15px;height:15px;}
    .service_goodBad .service_badBox .conBox ol li.pl25 i:before {background-image:url(../../resource/images/contents/ico_x_m.png);top:0;width:15px;height:15px;}
    .service_ruleBox .service_tblBox {overflow-x:scroll;}
    .sns_boxArea {width:320px;padding:17px;height:55px;top:60px;}
    .snsBox li a:after {width:20px;height:20px;background-size: contain;left:-21px;top:50%;transform:translateY(-50%);}
    .sns_boxArea .sns_closeBtn {top:47%;right:10px;}
    .snsBox li {padding-left:35px;line-height:15px;}
    .idea_bannerArea .slide_backImg {margin-bottom:27px;}
  
  
  /*마이페이지*/
  .pick_listBox .main_contentArea {margin-bottom:30px; }
  .profile_boxArea li.prof_nameBox .prof_imgBox {width:80px;height:80px;}
  .profile_boxArea li.prof_nameBox .prof_imgBox img {width:100%;}
  .profile_boxArea li.prof_nameBox .prof_infoBox strong {font-size:18px;line-height:18px;}
  .profile_boxArea li.prof_nameBox .prof_infoBox p {font-size:14px;line-height: 14px;}
  .modify_btn {width:105px;height:29px;line-height:29px;font-size:14px;}
  .top_btnbox strong {font-size:16px;}
  .board_conBox .info_contBox .inp_box .left.p_number {width:74.5%;}
   .profile_boxArea .coupon_count li p {font-size:14px;}
    .profile_boxArea .coupon_count li span {font-size:14px;}
  /*마이페이지-회원정보*/
  .info_membership {display:block;}
  .mypage_boardBox {padding-bottom:30px;}
  .mypage_boxArea h2 {margin:30px 0 20px;font-size:22px;line-height:22px;}
  .mypage_boxArea .top_listBox ul {margin-bottom:30px;}
  .board_conBox {min-height:70px;padding:15px 10px;border-bottom:2px solid #ddd;}
  .board_conBox.info_login {padding:15px 10px;}
  .board_conBox .info_leftTxt {float:none;margin-bottom:10px;font-size:14px;line-height:14px;}
  .board_conBox .info_contBox {float:none;width:100%;font-size:14px;line-height:14px;}
  .info_membership .info_number {float:left;display: inline-block;padding:14px 0;font-size:14px;}
  .info_noMember {margin:15px 0;display:none;}
  .info_noMember.on {display:block;}
  .pwBox.info_noMember.on {display:block;}
  .info_kakao span {font-size:14px;}
  .info_email {margin-right:10px;}
  .ico_kakao, .ico_naver {padding-left:30px;width:70px;}
  .ico_kakao:before {background-image:url(../../resource/images/contents/ico_sns_kakao_m.png);width:25px;height:25px;background-size:contain;background-position:center;}
   .ico_naver:before {background-image:url(../../resource/images/contents/ico_sns_naver_m.png);width:25px;height:25px;background-size:contain;background-position:center;}
  .board_conBox.info_login .info_contBox ul li.info_kakao {margin-bottom:10px;}
  .sns_linkClear, .sns_linkBtn {text-decoration:underline;}
  .board_conBox .info_contBox .btn_black_short {float:left;margin-left:10px;width:22%;}
  .board_conBox .info_contBox .btn_black_short.member_pwBtn {margin-left:0;}
  
  /*마이페이지 - 내이용권*/
  .mypage_boardBox.padeMember {overflow-x:scroll;padding-bottom:10px;margin-bottom:10px;}
  .mypage_boardBox.padeMember td {padding:10px;}
  .mypage_boardBox.freeMember {overflow-x:scroll;padding-bottom:10px;margin-bottom:20px;}
  .mypage_boardBox .tableBox {width:900px;}
  .td_info {width:234px;}
  .td_voucher {width:162px;}
  .td_usePeriod {width:207px;}
  .td_overPeriod {width:180px;}
  .td_day {width:auto;}
  .mypage_boardBox th {font-size:14px;}
  .mypage_boardBox td {font-size:14px;}
  .mypage_boardBox td a.btn_orange {width:143px;height:29px;line-height:29px;font-size:14px;}
  
  /*마이페이지 - 쿠폰함*/
  .couponList .roundSale, .couponList .roundTit {font-size:11px;width:65px;height:20px;line-height:20px;margin-bottom:8px;}
  .couponList .titTxt {font-size:17px;margin-bottom:8px;}
  .couponList .c_day {font-size:12PX;line-height: 12px;}
  .main_contentArea.couponList ul li a.btn_gray, .main_contentArea.couponList ul li a.btn_orange {height:43px;line-height:43px;font-size:14px;}
  .coupon_wrap .pick_listBox .cont_topArea .right {float:left;}
  .coupon_wrap .cont_topArea .right .btn_gray_w {height:43px;line-height:43px;}
  .coupon_wrap .cont_topArea .right .btn_orange {height:43px;line-height:43px;font-size:14px;background:#222;}
  
  .coupon_topBox, .coupon_bottomBox {padding:15px;}
  /*마이페이지 - 찜목록*/
  .wish_wrap .cont_topArea .right {float:right;}
  .wish_wrap .pick_listBox .cont_topArea .right a {height:43px;line-height:43px;width:88px;font-size:14px;}
  .wish_wrap .pick_listBox .cont_topArea .btn_gray_short {max-width:88px;}
  .wish_wrap .s_pTxt {float:left;}
  .pick_listBox .cont_topArea .right a.btn_gray_short {max-width:88px;}
  .pick_listBox .cont_topArea .right {float:right;}
  .pick_listBox.downCon .cont_topArea .select01,   .pick_listBox.downCon .cont_topArea .select04  {width:24%;margin-left:0;height:43px;margin-right:1%;}
  
  .pick_listBox.downCon .searchArea {width:50%;margin-left:0;}
  /*마이페이지- 다운로드 내역*/
  .pick_listBox.downCon .cont_topArea .s_pTxt {padding-bottom:10px;}
  .pick_listBox.downCon .cont_topArea .right {float:none;}
  .pick_listBox.downCon .main_contentArea ul li .btm_txtBox span {padding-left:0;}
  .pick_listBox.downCon .main_contentArea .btm_txtBox ul li:first-child {margin-bottom:0;}
  .pick_listBox.downCon .main_contentArea .btm_txtBox ul li:last-child {margin-top:0;}
  .down_wrap .mypage_boxArea .cont_topArea {line-height:24px;}
  /*마이페이지 - 구매/결제내역*/
  .buying .cont_topArea .s_titleTxt {float:none;font-size:16px;}
  .buy_boxArea strong {font-size:14px;padding-left:0px;margin-left:25px;}
  .buy_boxArea strong:before {left:-21px;}
  .radioList input[type="radio"] + label span {width:28px;height:28px;background-size:cover;padding-left:0;margin-right:10px;}
  .radioList input[type="radio"]:checked + label span {width:28px;height:28px;background-size:cover;}
  .product_infoBox .pirceBox p {padding-bottom:5px;}
  .buying select {height:43px;line-height:43px;font-size:14px;}
  .payBox .mypage_boardBox ul li {padding-bottom:15px;}
  .payBox .mypage_boardBox ul li.listSecond, 
  .payBox .mypage_boardBox ul li.listThird {margin-bottom:15px;line-height:14px;}
  .payBox .mypage_boardBox ul li p {font-size:14px;}
  .payBox .mypage_boardBox ul li span {font-size:14px;}
  .payBox .mypage_boardBox ul li .finalPrice {font-size:22px;}
  
  
  /*마이페이지 - 내문의함*/
  .ask_wrap .mypage_boxArea .cont_topArea {line-height:24px;}
  .ask_wrap .cont_topArea .select01 {height:43px;}
  .ask_wrap .s_pTxt {margin-bottom:15px;}
  .ask_wrap .cont_topArea .select04 {width:35%;max-width:100%;}
  .ask_wrap .cont_topArea .searchArea {width:62%;margin-left:3%;}
  .ask_wrap .center_area {padding-bottom:30px;}
  .ask_content p {font-size:14px;}
  
  /*이용방법*/
  .method_wrap .wrapper {margin-bottom:30px;}
  .inner_bgBox {height:267px;padding:35px 18px;}
  .inner_bgBox.child {height:276px}
  .inner_bgBox.design {height:264px;}
  .inner_bgBox.method_order {height:auto;}
  .inner_bgBox em {width:30px;height:30px;margin-bottom:15px;}
  .bg_txtBox strong {font-size:23px;line-height:30px;padding-top:45px;}
  .method_order .bg_txtBox strong {max-width:250px;margin:0 auto;}
  .bg_txtBox p {font-size:13px;line-height:17px;margin-top:12px;}
  .inner_bgBox.infinite .bg_txtBox p {letter-spacing: -0.8px;margin-top:5px;}
  .inner_bgBox.child em {background-image:url(../../resource/images/contents/img_quotes_yellow_m.png)}
  .inner_bgBox.design em {background-image:url(../../resource/images/contents/img_quotes_yellow_m.png)}
  .inner_bgBox.together em {background-image:url(../../resource/images/contents/img_quotes_green_m.png)}
  .inner_bgBox.infinite em {background-image:url(../../resource/images/contents/img_quotes_pink_m.png)}
  .inner_bgBox.anytime em {background-image:url(../../resource/images/contents/img_quotes_blue_m.png)}
  .inner_bgBox.method_order em {background-image:url(../../resource/images/contents/img_quotes_white_m.png)}
  .inner_bgBox.method_order {background-image:url(../../resource/images/layout/method_bg06_m.jpg)}
  .method_order ul li.method01, .method_order ul li.method02 {margin-bottom:4%;}
  .method_order ul li.method02, .method_order ul li.method04 {margin-left:4%;}

  
}
@media screen and (max-width: 767px) {
   
  .main_contentArea ul li {width:33.3333%;}
  .main_contentArea ul li a {padding:0 -10px}
  .mobile.mainBanner .main_bannerArea .b_areaBox {width:100%;height:355px;   transition:linear .3s;border-radius:10px;}
  .td_txt .notice_txt p {max-width: 300px;}
  .service_guideBox .service_banner {height:260px;background-image:url(../../resource/images/layout/service_banner01_m.jpg);background-position:center 140px;background-size:274px 131px;}
  .service_goodBad .service_goodBox .conBox span, .service_goodBad .service_badBox .conBox ol li {font-size:14px;line-height:25px;}

  /*마이페이지*/
  .profile_boxArea {padding:20px 20px 0;margin-bottom:35px;}
  .profile_boxArea > li {float:none;}
  .profile_boxArea li.prof_nameBox {width:100%;padding:0px;padding-bottom:20px;}
  .profile_boxArea li.prof_detailBox {width:100%;padding:15px 0 20px;border-top:2px solid #ddd;border-left:0;}
  .profile_boxArea li.prof_nameBox .prof_infoBox {padding-left:20px;}
  .profile_boxArea li.prof_nameBox .prof_infoBox strong {padding-bottom:8px;}
  .profile_boxArea li.prof_nameBox .prof_infoBox p {padding-bottom:10px;}
  .profile_boxArea li.prof_detailBox .top_btnbox {margin-bottom:16px;}
  
  /*마이페이지 - 회원정보*/
  .board_conBox .info_contBox .inp_box .left {max-width:110px;width:34%;}
  .board_conBox .info_contBox .btn_black_short.member_pwBtn {margin-left:0;}
  .board_conBox .info_contBox .inp_box .btn_black_short, 
  .board_conBox .info_contBox .inp_box .btn_orange_short, 
  .board_conBox .info_contBox .inp_box .btn_gray_short {height:43px;line-height:43px;font-size:15px;min-width:0;}
  .board_conBox .info_contBox .inp_box .center_mark {width:6%;padding:14px 0;}
  .board_conBox .info_contBox.info_noMember .inp_box .left.btn_conBox {width:22%;}
  .board_conBox .info_contBox .inp_box .btn_gray_w {height:43px;line-height:43px;}
  .main_contentArea.couponList ul li {width:33.3333%;}
  
  /*마이페이지 구매/결제내역*/
  .buy_infoBox {max-width:100%;width:100%;float:none}
  .payBox {max-width:100%;width:100%;float:none;}
  .payBox .mypage_boardBox {padding:20px;}
  .board_conBox.b_paidBox {padding-bottom:0;}
  .radio_info {padding:0;}
  .radio_info li {width:50%;padding-right:0;padding-bottom:15px;}
  .product_infoBox img {padding-left:0px;}
  .product_infoBox .pirceBox {padding-left:10px;}
  .buying_wrap .mypage_boxArea  {padding-bottom:30px;}
  .radioList input[type="radio"] + label {font-size:14px;}

}
@media screen and (max-width: 600px) {
  .main_contentArea ul li {width:50%;margin-top:15px;}
  .main_contentArea.couponList ul li {width:50%;}
  .mobile.mainBanner .main_bannerArea .b_areaBox {height:300px;}
  .service_goodBad .service_badBox .conBox ol li {float:none;width:100%;}
  .service_goodBad .service_badBox .conBox ol li.pl25 {padding-left:20px;}
  .service_banner {background-image:url(../../resource/images/layout/service_banner_m.jpg);background-position:right 30px;background-size:contain;}
  
}
@media screen and (max-width: 500px) {
  
    .top {bottom:10px;}
    .mobile.mainBanner .main_bannerArea .b_areaBox {height:210px;}
    .mainBanner .main_bannerArea .b_areaBox.left {background-image:url(../../resource/images/layout/main_banner01_m.jpg) !important;}
    .mainBanner .main_bannerArea .b_areaBox.right {background-image:url(../../resource/images/layout/main_banner02_m.jpg) !important;}
    .idea_bannerArea .slide_backImg {height:215px;width:100%;background-position:center !important;background-image:url(../../resource/images/layout/idea_banner_m.jpg) !important;}
    /*상세*/
    .detail_titleArea .title_imgBox {max-height:290px;}
    .button_conBox.downCon {width:60%;}
    .notice_boxArea strong {display:inline;}
    .customer_boxArea .customer_appeal {background-image:url(../../resource/images/layout/tab_filterBanner01_m.jpg);background-size:cover;}
    .customer_boxArea .customer_service {background-image:url(../../resource/images/layout/tab_filterBanner02_m.jpg);background-size:cover;}
    .customer_boxArea .customer_appeal, .customer_boxArea .customer_service {height:55px;}
    .detail_wrap .footer, .detail_wrap .customer_boxArea {max-width:100%;}
    .service_banner {height:85px;padding:20px;border:1px solid #ddd;border-radius:10px;}
    .service_txtBox .tel_number {font-size:26px;line-height:26px}
    .service_txtBox .time_number {font-size:14px;}
    .service_txtBox .date_box span {font-size:14px;}
    .paging a, .paging .current_page {width:35px;height:35px;line-height: 35px;padding:0;}
    .service_boardBox .notice_txt p {font-size:16px;}
    .service_boardBox .board_txtBox {height:95px;padding:35px 10px;box-sizing: border-box;}
    .service_boardBox .board_txtBox .notice_inpBox .select02 {height:43px;}
    .detail .center_area .btn_orange_middle {margin-left:0;width:100%;max-width:140px;}
    .service_goodBad .service_badBox .conBox ol {padding: 0 18px}
    .service_goodBad .service_badBox .conBox ol li {padding:7px 0 7px 20px;}
    .service_ruleBox .service_tblBox th, .service_ruleBox .service_tblBox td {width:180px;}
    .down_wrap .btm_txtBox ul li p {float:none;}
    .down_wrap .btm_txtBox ul li span {display:block;}
  

    /*이용방법*/
    .inner_bgBox .f_right {float:none;}
    .inner_bgBox.child {background-image:url(../../resource/images/layout/method_bg01_m.jpg)}
    .inner_bgBox.design {background-image:url(../../resource/images/layout/method_bg02_m.jpg)}
    .inner_bgBox.together {background-image:url(../../resource/images/layout/method_bg03_m.jpg)}
    .inner_bgBox.infinite {background-image:url(../../resource/images/layout/method_bg04_m.jpg)}
    .inner_bgBox.anytime {background-image:url(../../resource/images/layout/method_bg05_m.jpg)}
    .method_order ul li div {height:130px;}
    
}
@media screen and (max-width: 350px) {
    .m_menuArea {width:100%;}
    .arrow_btnArea {top:26px;}
    .swiper-button-prev, .swiper-button-next {width:30px;height:30px;}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:15px;}
    .filter_listBox .list_contBox {width:85%;}
    .mobile.mainBanner .main_bannerArea .b_areaBox {height:190px;}
    .button_conBox.linkCon:nth-child(2n) {margin-left:5px;}
    .button_conBox.downCon {width:60%;}
    .customer_boxArea .customer_appeal, .customer_boxArea .customer_service {background-position:-10px center;}
    .footer li {margin-right:0;}
    .btn_joinArea {padding:20px 0;}
    .service_listBox ul li a {font-size:14px;letter-spacing:-2px}
    .td_txt .notice_txt p {max-width:150px;}
    .td_txt .notice_txt.on p {max-width:150px;letter-spacing:-2px}
    .td_txt .notice_txt.on.icon p {max-width:102px;}
    .membership_topTxt .login_goBtn {padding-left:0;}
    .slide_listBox ul li .slide_question {padding-left:5px;}
    .slide_listBox ul li .slide_question em {padding-right:5px;}
    .slide_listBox ul li .slide_question p {font-size:14px;letter-spacing: -2px;}
    .board_downBox span {font-size:11px;}
    .board_downBox em {font-size:11px;padding-left:5px;}
    .board_downBox .file_down {background-position:230px center;}
    .service_boardBox .notice_txt p {font-size:14px;}
    .paging a {width:28px;height:28px;line-height:28px;}
    .service_boxArea .searchArea {margin-left:5px;}
    .service_banner {padding:10px;}
    .service_txtBox .time_number {display: block;padding-left:0;}
    .sns_boxArea {width:280px;}
    .snsBox li {padding-left:18px;}
    .top_listBox ul li a {letter-spacing: -1.5px;}
    .bg_txtBox strong {font-size:20px;}
    .inner_bgBox.infinite .bg_txtBox p {letter-spacing: -1.5px;margin-top:-1px;}
    .inner_bgBox.method_order {height:auto;padding:15px 18px;}
    .method_order ul li div {height:105px;}
    .profile_boxArea {padding:10px;}
    .profile_boxArea li.prof_nameBox .prof_infoBox {padding-left:10px;}
    .couponList .titTxt {font-size:14px;}
    .product_infoBox img, 
    .product_infoBox .pirceBox, 
    .radioList input[type="radio"] + label span {padding-left:0;}
    .info_kakao .sns_linkBox {display:block;margin-top:10px;}
    .coupon_bottomBox .btn_gray em:before {left:-18px;}
    .coupon_bottomBox .btn_orange em:before {left:-23px;}
    .wish_wrap .s_pTxt {font-size:14px;}
}