@charset "utf-8";
.inp_box.email-custom{display:none;margin-top:-40px;}
.btn_orange_middle{vertical-align:top;}
.wish_wrap .pick_listBox .cont_topArea .right button {display: inline-block;width: 88px; height: 50px; line-height: 50px; font-size: 16px;font-weight: 500;vertical-align:top}
.wish_wrap .pick_listBox .cont_topArea .right button.btn_black_short {  margin-left: 10px;}

.membersBox a.membership_btn {line-height: 43px;}
.empty{width:100% !important;text-align:center;line-height:50px;}
/*.pick_listBox .cont_topArea .right button{height:50px;line-height:50px;}*/

#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops img {max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:left}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0}

#sns-link-pnl .connect-fg{height:auto}

.message {    display: block;
    position: relative;

    margin-top: 10px;
    font-size: 16px;
    color: #00f;
    line-height: 16px;
}}
