@charset "utf-8";

/* 전체검색결과 스킨 */
#sch_res_detail {margin:10px 0;padding:15px;border-top:1px solid #f1f1f1;border-bottom:1px solid #ddd;background:#fff;text-align:left}
#sch_res_detail legend {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sch_res_detail .sch_wr {position:relative;background:#fff;margin:0 0 5px}
#sch_res_detail select {width:49.5%;height:40px;float:left;border:1px solid #d0d3db}
#sch_res_detail select#gr_id {margin-right:1%}
#sch_res_detail .frm_input {position:relative;width:100%;border:1px solid #d0d3db;margin-top:5px;border-radius:0;clear:both}
#sch_res_detail .btn_submit {position:absolute;bottom:0;right:0;width:40px;height:40px;background:none;color:#000;font-size:15px}

#sch_res_ov {margin:15px;padding:15px;background:#edf3fc;text-align:center;border-radius:5px;border:1px solid #d6e2f4;color:#5977a4;zoom:1}
#sch_res_ov:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_ov h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sch_res_ov ul {display:inline-block;zoom:1}
#sch_res_ov li {float:left;display:inline-block;margin:0 10px 0 0;line-height:10px;padding-right:10px;border-right:1px solid #5977a4;color:#5977a4}
#sch_res_ov li:last-child {margin-right:0;padding-right:0;border-right:0}
#sch_res_board {margin:10px;padding-left:1px;zoom:1}
#sch_res_board:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_board li {display:inline-block;float:left;margin:3px 5px 3px 0}
#sch_res_board a {display:block;line-height:24px;border-radius:13px;padding:0 10px;background:#fff;border:1px solid #d6e9ff;color:#6794d3}
#sch_res_board .sch_on {background:#3a8afd;color:#fff;border:1px solid #3a8afd;
-webkit-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
-moz-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
box-shadow:inset 0 2px 5px rgb(33, 135, 202)}

.sch_res_list {margin:0 0 10px}
.sch_res_list h2 {font-size:1.2em;background:#fff;padding:15px 20px;border-bottom:1px solid #f8f8f8}
.sch_res_list ul {margin:0;padding:10px 15px;list-style:none;background:#fff}
.sch_res_list li {padding:0 0 10px;border-bottom:1px solid #e9e9e9}
.sch_res_list li:last-child {border-bottom:0}
.sch_res_list a {text-decoration:none}
.sch_res_title {display:block;font-weight:bold;padding:10px 0;padding-right:30px;position:relative}
.sch_res_info {line-height:28px;padding:3px 0 0;margin:10px 0 0;color:#666}
.sch_res_info:after {display:block;visibility:hidden;clear:both;content:""}
.sch_res_list p {margin:0 0 10px;line-height:1.4em;color:#777;font-size:1em}
.sch_more {background:#fff;padding:15px 0;margin-bottom:15px;font-size:1em;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;text-align:center}
.sch_more a {color:#3a8afd}
.sch_datetime {}
.sch_res_info .profile_img img {border-radius:50%}

/* 인풀 옵션  */
.selec_chk {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
.chk_box {position:relative}
.chk_box input[type="radio"] {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
.chk_box input[type="radio"] + label {position:relative;padding-left:23px;display:inline-block;color:#676e70}
.chk_box input[type="radio"] + label span {position:absolute;top:0;left:0;width:15px;height:15px;display:block;background:#f7f8f9;border:1px solid #cdd6df;border-radius:50%}
.chk_box input[type="radio"]:checked + label {color:#3a8afd}
.chk_box input[type="radio"]:checked + label span {border-color:#3a8afd}
.chk_box input[type="radio"]:checked + label span:before {width:7px;height:7px;background:#3a8afd;content:'';position:absolute;top:3px;left:3px;border-radius:50%}
