@charset 'utf-8';

/*
	Font
*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
		url(../font/NotoSansKR-Light.woff) format('woff'),
		url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
		url(../font/NotoSansKR-Regular.woff) format('woff'),
		url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
		url(../font/NotoSansKR-Medium.woff) format('woff'),
		url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
		url(../font/NotoSansKR-Bold.woff) format('woff'),
		url(../font/NotoSansKR-Bold.otf) format('opentype');
}


/* 나눔스퀘어라운드 */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"),
    url("../font/NanumSquareRoundR.eot"), 
    url("../font/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), 
    url("../font/NanumSquareRoundR.woff2") format("woff2"), 
    url("../font/NanumSquareRoundR.woff") format("woff"), 
    url("../font/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"),
    url("../font/NanumSquareRoundEB.eot"), 
    url("../font/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), 
    url("../font/NanumSquareRoundEB.woff2") format("woff2"), 
    url("../font/NanumSquareRoundEB.woff") format("woff"), 
    url("../font/NanumSquareRoundEB.ttf") format("truetype");
}

