/*header*/
.header_wrap {position:fixed;background:#fff;z-index:18;width:100%;top:0;left:0;}
.header_btLine {border-bottom:1px solid #ddd;}
.header {position:relative;max-width:1460px;margin:0 auto;height:85px;line-height:85px;padding: 0 30px;}
.header:after {content:'';display:block;clear:both;}
.header h1 {float:left;width:344px;height:41px;padding:22px 0;}
.header h1 a {display:block;width:100%;height:100%;background:url(../../resource/images/layout/logo.png) no-repeat;background-position:center;}
.header .gnb {float:left;margin-left:60px;}
.header .gnb li {display:inline-block;margin-right:45px;}
.header .gnb li > a {display:block;font-size:20px;font-weight:800;font-family:'NanumSquareRound' }
.header .joinArea {float:right;}
.header .joinArea li {display:inline-block;}
.header .joinArea li a {display:block;font-size:16px;font-weight:800;font-family:'NanumSquareRound'}
.header .joinArea li.join a {margin-left:20px;width:95px;height:38px;color:#fff;background-color:#f9b700;border-radius:20px;line-height:38px;text-align:center;}
.header .m_menuBtn {position:absolute;height:18px;right:0;top:50%;transform:translateY(-50%);display:none;cursor:pointer;}
.header .m_menuBtn span {position:relative;display:block;width:24px;height:2px;background:#000;border-radius:10px;}
.header .m_menuBtn span:nth-child(2) {top:6px;}
.header .m_menuBtn span:last-child {top:12px;}
.header .members_name {position:relative;float:right;}
.header .members_name .mem_nameTxt {position:relative;font-size:15px;display:block;padding-right:35px;cursor:pointer;font-weight:800;font-family:'NanumSquareRound'}
.header .members_name .mem_nameTxt.on:after {content:'';display:block;position:absolute;right:0px;top:50%;transform:translateY(-50%);width:24px;height:24px;background:#f9b700  url(../../resource/images/contents/ico_arrow_up_w.png) no-repeat;background-position:center;background-size:10px 7px;border-radius:100%;} 
.header .members_name .mem_nameTxt:after {content:'';display:block;position:absolute;right:0px;top:50%;transform:translateY(-50%);width:24px;height:24px;background:#f9b700  url(../../resource/images/contents/ico_arrow_down_w.png) no-repeat;background-position:center 9px;background-size:10px 7px;border-radius:100%;} 
.header .members_listBox {display:none;position:absolute;top:65px;left:-125px;width:220px;background:#fff;text-align:left;border-radius:10px;box-sizing:border-box;-webkit-box-shadow: 0px 0px 42px -25px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 42px -25px rgba(0,0,0,0.75);box-shadow: 0px 0px 42px -25px rgba(0,0,0,0.75);transition:linear .3s;z-index:20;}
.header .members_listBox.on {display:block}
.header .members_listBox .topBox {padding:20px 30px 25px;border-bottom:1px solid #eee;}
.header .members_listBox p {font-size:16px;line-height:16px;margin-bottom:20px;}
.header .members_listBox .btn_orange {height:46px;font-size:16px;line-height:46px;font-weight:500;min-width:0;}
.topBox.membership {display:none;}
.header .members_listBox ul {padding:10px 30px 25px;}
.header .members_listBox li {line-height:15px;padding:15px 0;}
.header .members_listBox li a {display: block;font-size:15px;}
.header .members_listBox li a.logoutBtn {width:160px;height:46px;padding:15px 0;background:#f5f5f5;text-align:center;border-radius:10px;box-sizing: border-box;color:#888;font-weight:500;}
.header .members_listBox li a.logoutBtn:after {top:50%;transform:translateY(-50%);background-image:url(../../resource/images/contents/ico_logout_g.png);right:31px;}
#wrap {padding-top:85px;}

/*footer*/
.footer_wrap {border-top:1px solid #eee;padding:0 30px;}
.footer {max-width:1460px;margin:0 auto;padding-top:20px;padding-bottom:50px;overflow:hidden;}
.footer ul {float:left;}
.footer li {display:inline-block;margin-right:30px;}
.footer .f_reserve {float:left;}
.footer .f_reserve, .footer li a {font-size:14px;color:#888;line-height:14px;}


/*guide*/
.guideLayout_wrap .title {margin-bottom:25px;color:#000;font-size:30px;font-weight:700;line-height:24px;letter-spacing:-1px;transition:all 0.4s;}
.layout_content {    height: 500px;background: #e1e5f8;color: #f9b700;font-size: 30px;font-weight: 700;line-height: 500px;text-align: center;}
.board_view {max-width:1460px;margin:0 auto 100px;border-top:3px solid #000;}
.board_view  .li {display:table;}
.board_view  .li .txt {display:table-cell;width:170px;height:70px;padding:12px 10px;background:#f8f8f8;box-sizing:border-box;font-weight:500;letter-spacing:-0.5px;;text-align:center;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.board_view  .li .con {display:table-cell;height:70px;min-width:200px;padding:12px 30px;box-sizing:border-box;text-align:left;vertical-align:middle;word-wrap:break-word;word-break:break-all;}

.font_tyg_box {display:inline-block;padding:0 10px;margin-top:30px;}
.font_tyg dt {margin-bottom:15px;font-size:30px;line-height:32px;}
.font_tyg dt span {display:block;margin-bottom:5px;font-size:14px;}
.font_tyg dd {position:relative;margin-bottom:8px;padding-left:140px;font-size: 14px;}
.font_tyg dd span.tit {position:absolute;left:2px;top:0;}
.font_tyg dd:last-child {margin-bottom:0;}
.font_tyg.nanum {padding-left:100px;}
.font_tyg.nanum dt {margin-bottom:15px;font-size:30px;line-height:32px;font-family: 'NanumSquareRound'}
.font_tyg.nanum dt span {display:block;margin-bottom:5px;font-size:14px;font-family: 'NanumSquareRound'}
.font_tyg.nanum dd {position:relative;margin-bottom:8px;padding-left:140px;font-family: 'NanumSquareRound'}





